[2019-11-29 22:42] machinesmith42 opened #1 "Does not work"

[2019-11-29 23:14] Xmader commented on #1
fix in v0.1.7

[2019-11-29 23:17] machinesmith42 commented on #1
![image](https://user-images.githubusercontent.com/30908256/69892534-231db800-12cc-11ea-8c95-e67db74d366b.png)

[2019-11-29 23:18] machinesmith42 commented on #1
not working
asks for pro still

[2019-11-29 23:18] machinesmith42 commented on #1
v0.1.7 installed

[2019-11-29 23:25] Xmader commented on #1
Did you enable it in a [user script manager](https://greasyfork.org/en/help/installing-user-scripts), like [Tampermonkey](https://chrome.google.com/webstore/detail/tampermonkey/dhdgffkkebhmkfjojejmpbldmpobfkfo)?
And what is your browser?

[2019-11-29 23:38] machinesmith42 commented on #1
tested in both chrome and firefox and use tamper monkey to install it

[2019-11-29 23:42] machinesmith42 commented on #1
also tested w greasemonkey

[2019-11-29 23:50] Xmader commented on #1
So weird,
it works on the same page on my device, and in both Firefox and Chrome.
Can you open the Web Developer Console (press <kbd>Ctrl-Shift-I</kbd>, switch to `Console` tag), and copy something error to me?

![](https://user-images.githubusercontent.com/16057139/69892941-063bb180-12d9-11ea-9977-03c211d1dee2.png)

[2019-11-30 00:00] Xmader opened #2 "Musescore API changed"
**The fxxxing Musescore Company** may know the existence of this script or something like this.

They changed the download URL to `mscz` and `pdf` file,
from (for example [sheet music id 5850193](https://musescore.com/classicman/scores/5850193) )
[code]
, to direct AWS S3 urls (**with `X-Amz-Credentiall` `X-Amz-Signature` params that only came from the API server, this script can't get them direct

[2019-11-30 00:41] machinesmith42 commented on #1
Now works but on clicking download pdf get 404 error

[2019-11-30 00:42] machinesmith42 commented on #1
![image](https://user-images.githubusercontent.com/30908256/69893511-e35ccd80-12d7-11ea-8d9c-7a2e68321def.png)
![image](https://user-images.githubusercontent.com/30908256/69893517-fd96ab80-12d7-11ea-94a5-a59eaa58671c.png)

[2019-11-30 01:15] Xmader commented on #1
Yes, I mentioned it in #2

[2019-11-30 15:51] machinesmith42 commented on #2
Will this be fixable?

[2019-11-30 15:58] #1 closed

[2019-12-01 01:17] machinesmith42 commented on #2
It is possible to pull svgs of the sheet music

[2019-12-01 05:33] Xmader commented on #2
fix `Download Musescore` button in `v0.2.0`

[2019-12-01 07:10] #2 closed

[2019-12-01 07:11] Xmader commented on #2
fix `Download PDF` button in v0.3.0

[2019-12-01 07:15] Xmader commented on #2
Thank you, I use svgs to generate PDF

[2019-12-01 16:15] machinesmith42 opened #3 "export to musescore"
Is this possible

[2019-12-01 18:23] Xmader commented on #3
Do you mean open the sheet music directly in the Musescore software,
or just want to download the `mscz` file (the first button can already do it)?

[2019-12-01 19:30] machinesmith42 commented on #3
First option

[2020-01-25 23:01] generalbrus opened #4 "Low quality for SVG scores"
Hi,
Thanks for working on this script!

I've noticed that downloading SVG scores results in low quality PDFs since you always convert a page to PNG before adding it to the PDF.

Not sure if you've looked into this already, but you can convert from SVG to PDF directly using [alafr/SVG-to-PDFKit](https://github.com/alafr/SVG-to-PDFKit).

I have forked version 0.4 of your code and applied the fix the

[2020-01-26 06:50] Xmader commented on #4
Thank you for your great work,
and thank you for letting me know the great `SVG-to-PDFKit`!

The script is now using `SVG-to-PDFKit` to convert SVG to PDF directly in version 0.5.0.

[2020-01-26 06:50] #4 closed

[2020-02-08 23:35] Xmader opened #5 "HELP WANTED! How to respond to the takedown request email?"
I'm Musescore developer. You need to takedown this repository: https://github.com/Xmader/musescore-downloader and any other your public repositories with same code. Because you illegaly use our private API with licensed music content. All not Public domain content on musescore.com is licensed by major music publishers (Alfred, EMI, Sony, etc.). Distribute licensed music content from Musescore.com

[2020-02-09 04:59] Xmader commented on #5
Here is how I replied the email.

[2020-02-11 08:53] psharma04 commented on #5
This email seems very sketchy to begin with. There are basic grammatical errors throughout the entire email, and DMCA requests are supposed to be sent directly to GitHub, not to a developer.

[2020-02-15 12:41] kobespecial opened #6 "does not work again on Chrome"

[2020-02-15 21:32] Xmader commented on #6
fixed in v0.5.1

[2020-02-15 21:32] #6 closed

[2020-03-11 04:49] kir12 opened #8 "Not an actual issue but thanks for being hero we need but dont deserve"
real scummy move on musescore.com's part to suddenly make the entirety of downloading paywalled

[2020-03-14 09:17] TheAceBlock commented on #5
I assume they **did not even use their head**. Only very few people _'have such privilege'_. GitHub at most will take this repo. And Chinese government? **They will not even bother caring about you**. I have heard a few even **more serious** complaints worse than this before, and **it is unlikely that the government would even have response**.
~~I can laugh at this for the rest of the year.~~

[2020-03-14 11:26] Seven-pence commented on #5
支持作者，版权是保护创作者的，不是平台敛财的借口。

[2020-03-16 14:04] hp-ferreirabr opened #9 "Problem downloading .mscz files (Japanese characters on name)"
Hello!
First, thank you very much for developing this script! Saved me a lot of times!!
Second, forgive my english :/

I am trying to download the scores of this set, but I can't get no one .mscz file!
https://musescore.com/user/3443166/sets/5100954

On browser dev tools (network tab), I found this

![image](https://user-images.githubusercontent.com/62249235/76764911-649b7b80-6774-11ea-8ca9-c4877d

[2020-03-16 20:42] Xmader commented on #9
Thank you for telling me,
It is now fixed.

This problem occurs because all characters in [`Content-Disposition`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Disposition) HTTP header must be encoded in [RFC 5987](https://tools.ietf.org/html/rfc5987).

[2020-03-16 20:42] #9 closed

[2020-03-17 01:47] hp-ferreirabr commented on #9
Well, thanks for fixing, but still not working with all...

I already had the file 01-23. I downloaded when it was free on MuseScore ("free", with the limit of 20 per day). Now I downloaded the file 24*¹ and the last archive*², but I'm already having problem to download these three archives:

https://musescore.com/user/3443166/scores/5977766
https://musescore.com/user/3443166/scores/5983384
https:

[2020-03-17 01:52] hp-ferreirabr commented on #9
Well, thanks for fixing, but still not working with all...

I already had the file 01-23. I downloaded when it was free on MuseScore ("free", with the limit of 20 per day). Now I downloaded the file 24¹ and the last archive², but I'm already having problem to download these three archives:

https://musescore.com/user/3443166/scores/5977766
https://musescore.com/user/3443166/scores/5983384
https://

[2020-03-17 05:49] Xmader commented on #9
Thank you a lot for testing.
It is now fixed again.

[There is a 6 MB size limit on the AWS Lambda response payload](https://jun711.github.io/aws/handling-aws-api-gateway-and-lambda-413-error/#aws-lambda-payload-size-limit).
When the size of the `mscz` file is larger than 6 MB (6 000 000‬‬ bytes), the problem occurs.

[2020-03-20 04:38] trevortrusty commented on #8
Agreed. I'm not okay with me putting my arrangements I worked hard to score onto the website if they are going to make people pay for it while I'm doing it for free. Makes no logical sense, and I will be using this script in my browser from now on.

[2020-03-20 04:53] trevortrusty commented on #5
How does money protect a creator from independently transcribed sheet music? It's literally notes on a page, how can the creator of the music actually own that?

[2020-03-20 05:42] HerendraTJ commented on #5
Be aware of direct emails of copyright notice. You need to reconfirm to musescore devs and musescore creators. Because learning from topjohnwu (Creator of magisk) someone impersonating as a company and just to fool you.

[2020-03-20 10:53] quizilkend commented on #8
Totally agreed!

[2020-03-20 20:39] Xmader commented on #5
Thanks.
I believe he is *(or was)* an employee of MuseScore, because the emails were sent from m.chistyakov@**musescore.com**

[2020-03-21 22:46] answer2question commented on #8
thank you foe providing a resource that makes music free for everybody. you are a GOAT.

[2020-03-23 05:54] zyf722 commented on #8
many thanks for the script to the developers

[2020-03-23 22:59] otaviomad opened #10 "Not working on firefox, apparently."
No extra buttons are shown. Using FF 74.0 with greasemonkey.
![image](https://user-images.githubusercontent.com/6334573/77370949-d3627100-6d40-11ea-80c4-6bc3ad789325.png)

[2020-03-23 23:03] otaviomad commented on #10
huh. it's working on brave with tampermonkey

[2020-03-24 14:04] jeetee commented on #8
@trevortrusty How about marking your work as original work then, thus making them freely available again?
I agree that copyright legislation doesn't always make sense; but publishing an arrangement is not allowed without consent of the copyright holder.
This isn't musescore.com rule, it is law.

[2020-03-26 23:00] mosest commented on #8
You really are the hero we need but don't deserve. This script works awesome on Chrome, and it's so easy to use. Thanks so so much for putting in the effort. <3

[2020-03-27 02:52] PIrKo opened #11 "Request"
Excellent work !, it is possible to make it work on the page:
musicnotes.com
Thanks a lot

[2020-04-02 04:02] trevortrusty commented on #11
No, musicnotes.com and musescore.com are very different types of websites/platforms

[2020-04-05 06:13] Poshtester63 commented on #8
Leaving a comment here to thank you for your work on this script! :D

[2020-04-06 10:12] Ectalite commented on #10
It does work on firefox 74.0.1 with tampermonkey 4.10.6105
![image](https://user-images.githubusercontent.com/31344054/78547690-c6915300-77ff-11ea-8168-bbc5074afcae.png)

[2020-04-06 16:03] trevortrusty commented on #8
I see what you're saying, but is posting sheet music to musescore _really_ publishing? I can't imagine posting a mscz file to the musescore platform being the same thing as publishing your sheet music on musicnotes.com for example.

[2020-04-06 16:38] jeetee commented on #8
It is in they eye of the law; publishing a score means making it publicly available, regardless of whether you monetize that or not.

[2020-04-08 23:18] BachoSeven commented on #5
I'm curious, did you receive any further replies?

[2020-04-10 10:46] lordantonio101 commented on #8
Thankyou so much for this! Good work!

[2020-04-10 18:33] Mabinogi-delight commented on #8
作者我爱死你了！！

[2020-04-10 19:35] makeworld-the-better-one commented on #5
It's possible someone faked the email domain. In any case, I've archived this repository on the Internet Archive [here](https://archive/details/Xmader-musescore-downloader_-_2020-03-29_21-32-53).

[2020-04-10 22:12] BachoSeven commented on #5
@makeworld-the-better-one link doesn't work at this time

[2020-04-11 00:40] makeworld-the-better-one commented on #5
Yep I had some issues. I will try and archive it later.

[2020-04-11 17:15] Lee-Yu-Chen commented on #8
Xmander先生/女士，请问有什么方法可以代表我对您的感谢？

[2020-04-14 00:52] Mabinogi-delight commented on #8
@jeetee That's why the entire copyright law thing is BS. An archeologist can spent years trying to recover text from ancient tomb, yet his work is not protected by copyright. However, someone taking a picture of the very same tomb can get copyrighted.

[2020-04-14 07:36] jeetee commented on #8
@Mabinogi-delight

I don't disagree, but I also don't think MuseScore is to blame for the current law. Especially when they've put in the effort to protect all uploaders from prosecution and still allow everyone to view/playback many of those protected scores for free.

His work would be the recovery of the text, not the text itself. Since he did not "create" something it indeed can't get copyrigh

[2020-04-14 16:10] nazmifr commented on #8
+10²²²²²²²²²

All hail to Xmander our savior!

[2020-04-14 22:04] Xmader commented on #8
Er... I'm Xmader without the n in the middle.My name is not an actual word, or the compound of two words. I picked the name by hitting my keyboard randomly back in 2015.

[2020-04-18 10:46] Da-Golden opened #13 "PROCESSING for a long time"
It keeps processing to download and never actually does. This is after downloading a few scores and it working fine.

[2020-04-18 18:18] Xmader commented on #13
Oh, it is not processing. Instead, the mscz file fails to download.

There is a bug in the serverless mscz downloading function for some scores.
It should be fixed now.

[2020-04-18 18:18] #13 closed

[2020-04-18 18:20] Samda1 opened #14 "PDF downloads blank"
I am using this on a chromium-based browser (Brave). All of the download buttons appear, but the PDF is a blank white sheet when it download.

For example, I downloaded this score: https://musescore.com/user/16225021/scores/3356381
I've attached the PDF that resulted. It's just 7 white pages.
[Something_Wild.pdf](https://github.com/Xmader/musescore-downloader/files/4497313/Something_Wild.pdf)

[2020-04-18 18:22] #14 closed

[2020-04-18 18:22] Samda1 commented on #14
Never mind, I restarted my browser, and it is now working normally.

[2020-04-18 18:26] Samda1 opened #15 "Is it possible to download individual parts?"
First of all, thanks so much for making this.

Is it possible to download individual parts of a score instead of the entire score?

[2020-04-18 22:12] Xmader commented on #15
Sorry, I can't find such an API to do it without Musescore Pro.

You can download the [Musescore software](https://musescore.org/en), and do it manually in the software.

Maybe I can implement it in my new [LibreScore](https://github.com/LibreScore) project.

[2020-04-19 01:07] bucketohwater commented on #8
Thanks for this, this is amazing!

[2020-04-19 12:53] ajlee2006 commented on #8
Thank you very much Xmader for your work.

[2020-04-20 19:56] Darkhellkaiser commented on #8
Totally agreed!
Thank you very much Xmader
I really appreciate your help.
Thank you again!

[2020-04-21 12:28] MPRT28 opened #16 "Having problems on Chrome"
Hi. I've used Tampermonkey and install every single file but it still doesn't work. Should I change browser? Can you help me since I'm kinda noob on this?

[2020-04-22 00:46] isorhythmic commented on #16
Did you use the Install from Greasyfork link after installing Tampermonkey? Worked for me perfectly in Chrome Version 81.0.4044.122 (Official Build) (64-bit).

[2020-04-22 11:00] MPRT28 commented on #16
@isorhythmic No I didin't. Now that I've used, it worked. Thank You!

[2020-04-28 02:08] Crotolamo commented on #10
Yup, not working on Firefox  GreaseMonkey  ver of scrip: 0.6.4
I'll try to use tampermonkey

[2020-04-28 02:10] Crotolamo commented on #10
DONT use GreaseMonkey
Working perfectly on  Tamper Monkey, love you dev. :)

[2020-04-28 06:52] Xmader commented on #10
The problems on Greasemonkey is now fixed in `v0.6.5`.

[2020-05-01 10:05] IamRifki commented on #5
And they took down [developers.musescore.com](https://developers.musescore.com/), what a bunch of idiots, but the [internet archive is here to stay](https://web.archive.org/web/20190919184200/https://developers.musescore.com/).

[2020-05-01 14:48] HerendraTJ commented on #5
Looks like someone impersonate musescore devs eventhough it's opensource.

[2020-05-09 16:01] purplepotato7 opened #17 "MSCZ not giving full sheet music"
Whenever I download an MSCZ file off of certain pieces, sometimes it cuts off like half off the music and makes a multi rest for all pars. Any idea how to fix this?

[2020-05-09 16:21] #17 closed

[2020-05-13 10:38] Xmader commented on #15
The ability to download individual parts is now included in the version `v0.7.0`, with the power of LibreScore's [webmscore](https://github.com/LibreScore/webmscore).

Just click the `Download Parts` button, and choose which part to download.

[2020-05-21 13:40] O5X opened #18 "Is this legit"
Is this ok? Will it install anything on my PC

[2020-05-22 13:39] IamRifki commented on #18
Take a look at the source yourself, there's nothing malicious.

[2020-05-22 22:35] #18 closed

[2020-06-11 08:09] Encritary commented on #15
What about downloading parts as MIDI?

[2020-06-15 12:34] danieljray commented on #5
Hi Xmader and crew,

I thought I would reply here, in the spirit of openness and transparency, to see if we may be able to resolve this situation without need for further processes.

Firstly, I work for MuseScore. This might seem a bit confusing since MuseScore is a free open source project, but there are many similar examples (i.e. - Mozilla).

While there are many different models of a company s

[2020-06-17 07:15] Xmader commented on #5
Hi Daniel,

I understand the concerns about copyright laws, but all things to do currently, is to pay them. I hope Musescore can raise money by ways other than the paywall (e.g. sell the piano tutorial service, or by donation like Wikipedia), and not losing Musescore.com's **key feature. Free downloading** was why many users (including me) came to Musescore.

We are **not** enemies, of course.

I

[2020-06-17 08:05] danieljray commented on #5
Hey Xmader,

Firstly, public domain scores and original works may still be downloaded for free. This is something very important for us. We want to make as much as possible, as free as possible, while still respecting the rights holders.

When dealing with copyrighted works, we must deal within the realities of the music industry in relationship to music publishers and rights holders. They set the

[2020-06-17 11:57] IamRifki commented on #5
@danieljray I would like to be able to download Public Domain works without an account, I do not get the remaining behind it.

[2020-06-17 13:08] danieljray commented on #5
@IamRifki the reasoning is very simple:

Musescore.com is a community and having an account is the most basic form of participation in the community.

Requiring an account to download content also ensures that that we can prevent abuse, such as downloading more than what can be considered reasonable for personal use, such as using automated methods, etc.

This also helps to better support members

[2020-06-19 22:22] Rotekoppen opened #19 "Downloading a MSCZ fails, but a MXL or pdf works"
Please tell me where i can find logs if you want them.

Firefox 77.0.1
Script ver  0.7.1
Tampermonkey v 4.11.6114

[2020-06-20 02:11] Xmader commented on #19
<kbd>F12</kbd> - `Network` - search `mscz`

[2020-06-22 10:43] danieljray commented on #5
@Xmader Waiting for your response on this topic.

Thanks,

Daniel

[2020-06-27 17:03] fishjojo1 opened #20 "Not an issue, but would you be able to provide api docs?"
Hi, this isn't an issue per se, but, do you still have, and would you be able to provide musescore's api documentation?
Or rather, what url and parameters are used in downloading the files? (pdf, mszc etc)
Lastly, thanks for your contributions to the community really agree with your ideals that these scores should not be paid unless the transcriber wants it to be so.

[2020-07-05 06:17] Weirdguyz commented on #19
Not the original person but getting the same error, going into the network tab shows that the request yields a 404. Don't know exactly what you need to see so various screenshots are below of what I see. What's odd though is that while the original poster had the issue two weeks ago, I was fine up until today.
![image](https://user-images.githubusercontent.com/40163448/86526712-82811d80-bed6-11ea-

[2020-07-23 09:51] chiragzq commented on #20
They took down the API docs after this repository gained some traction, however it is archived at https://web.archive.org/web/20200117065437/https://developers.musescore.com/ :)

[2020-08-04 11:21] Mte90 opened #21 "Convert as web extension"
It is possible to convert it as web extension?
In this way I don't need greasemonkey just for this script?

[2020-08-05 21:02] magnus-gross commented on #20
They did not only take down the API docs, but the API itself, so the docs above won't help you much.

I think he is asking for docs for the unofficial API.

[2020-08-11 14:56] harpingon commented on #5
How else are they going to sell your data if they don't make accounts mandatory even for the free downloads? I wouldn't trust UG with anything with a payment method attached, ever.

[2020-08-25 21:22] Martintug opened #22 "Script buttons don't appear"
Last week, it worked perfectly, but today Musescore-downloader buttons don't appear.
I have installed the script in Edge and in another laptop and I got same results.

Regards.

I've realized it doesn't work in Tampermonkey with Chrome or Edge, but it's working with Greasymonkey in Mozilla FireFox.

[2020-08-26 08:51] #22 closed

[2020-08-26 08:52] Xmader commented on #22
fixed in v0.7.2

[2020-08-26 17:47] HmLeoM opened #23 "MSCZ file issue"
Hey there, I'm having a lil issue at opening MSCZ files, the thing is I can download em without problems tho, but when I try to open it, it shows me the next issue
![image](https://user-images.githubusercontent.com/70286038/91338194-90e70980-e7a2-11ea-9c3c-96375f4ca5b5.png)

And yes, my musescore is at the last version... What would be the issue?

[2020-08-26 18:44] GavinWoodward commented on #23
I have been having to deal with the same issue. At this point I have exhausted all attempts to fix it on my own. It cannot possibly be a genuine update message as it would never appear as a score and instead would appear as some kind of window. While I would assume it to be unlikely, this could be the result of some kind of attack on the script.

[2020-08-27 14:34] Frikderbaumkuchen commented on #23
A temporary fix is just to download the .mxl file. It works just like the MSCZ file for me and you can open it as mxl and save it as MSCZ if you really need it.

[2020-08-27 22:58] Xmader commented on #23
MuseScore has changed their API.

[2020-08-28 05:47] emerson-code commented on #23
same goes with me, hoping that it will be fixed, thanks xmader , not all heroes wear cape, and ur one of them XD

[2020-08-29 06:38] johnpotato1109 commented on #23
Thank you. It really works now!!!

[2020-08-29 20:45] marcan commented on #5
The idea that everything on MuseScore is either public domain, original, or covered by major rights management organizations is complete bullshit. I am primarily interested in creating and downloading arrangements of music whose creator broadly allows such usage, and isn't a member of a major rights organization, and I'm sure they aren't getting a cut of any Pro fees. I'm obviously not going to si

[2020-08-29 22:38] Xmader commented on #23
I just released a [temporary fix](https://github.com/Xmader/musescore-downloader/commit/9ec77865f0617e423bb93c47f42bfaa08eb740fc).
The script will use mscz files from my [dataset](https://github.com/Xmader/musescore-dataset#all-mscz-files). No new score after Aug 27 2020 can be downloaded for now, and the files may not be up-to-date.

Solutions for me to work on:
* Get a Pro account, and save mscz

[2020-08-30 03:50] Xmader commented on #23
BTW, the MuseScore mobile app uses code (for score file processing and audio synthesizing) from [the MuseScore desktop software](https://github.com/musescore/MuseScore), which is open source under [GPL](https://en.wikipedia.org/wiki/GNU_General_Public_License). Therefore, the MuseScore team (or UltimateGuitar, or [wsmgroup.ru](https://www.linkedin.com/company/wsm-group) actually) **must open sourc

[2020-09-12 07:26] LoveJessyChen commented on #23
<?xml version='1.0' encoding='UTF-8'?><Error><Code>NoSuchKey</Code><Message>The specified key does not exist.</Message><Details>No such object: musescore/mscz/6338381.mscz</Details></Error>

[2020-09-12 21:48] chopin2712 commented on #23
Yes I have the same thing. But the MIDI output works tho.

[2020-09-13 01:46] LoveJessyChen commented on #23
Yes，I have your same problems.

[2020-09-13 01:47] LoveJessyChen commented on #23
Yes ，I have your same problems.

[2020-09-18 20:45] kolt54321 opened #24 "MusicXML - Not found error?"
Hi! I'm hitting 404 not found errors on most MusicXML downloads. Any idea why?

[2020-09-19 04:56] Xmader commented on #24
The company that runs MuseScore goes crazy, and closed every potential way they think a score file could be downloaded without a Pro account.

[2020-09-21 00:04] kolt54321 commented on #24
Oh no! I've heard similar, but it's crazy that they try to shut off users
downloading royalty free music. Don't let it get to you! We appreciate all
that you do.

On Sat, Sep 19, 2020, 12:57 AM Xmader <notifications@github.com> wrote:

[2020-09-21 09:59] richidubey commented on #24
Yeah, Keep up the good work!

On Mon, Sep 21, 2020 at 5:34 AM kolt54321 <notifications@github.com> wrote:

[2020-09-22 04:12] NeatoBurrito opened #25 "Wrong download"
I'm trying to download https://musescore.com/user/5258031/scores/6028973 but I keep getting https://musescore.com/user/10129661/scores/2241076.

[2020-09-24 16:59] Fenway17 opened #26 "Downloaded PDF unable to be zoomed out to be viewed in full on a tablet"
Oddly enough when PDF is downloaded using musescore downloader it is able to be viewed fully zoomed out mostly everywhere, PC or laptop, but on my Samsung tablet, its default view is a zoomed in state that doesnt allow me to zoom out, only in, preventing me from viewing the PDF in full zoomed out view.
Tested with PDFs that were downloaded before the dreaded musescore subscription changes and they

[2020-09-27 11:16] Xmader commented on #23
Cracking Completed! (It shouldn't take so long)

[2020-09-27 15:34] #23 closed

[2020-09-27 15:37] Xmader commented on #26
Yes, the script formats the PDF differently if you download PDF files from the `Download PDF` button. It simply put sheet images shown on the page together into a PDF file.

Consider using the `Individual Parts` button, and choose `Full score`. It generates PDF file from the MSCZ file (like you export PDF in MuseScore software).

[2020-09-27 15:38] #26 closed

[2020-09-27 16:20] #24 closed

[2020-09-27 16:22] Xmader commented on #25
It should be fixed in the latest version.

[2020-09-27 16:22] #25 closed

[2020-09-27 17:26] emerson-code commented on #23
Thanks

On Sun, Sep 27, 2020, 23:34 Xmader <notifications@github.com> wrote:

[2020-10-01 15:25] Erdbeergeist opened #27 "Not working anymore"
Not working for me with tampermonkey 4.11.6117 and firefox 81.0 any way to fix this ?

[2020-10-01 15:36] OktayYeniTR commented on #27
same

[2020-10-01 15:46] pacmanboss256 commented on #27
same

[2020-10-02 17:47] joybod commented on #8
i was using musescore for playing music in video games for the meme, now I once again can spam elder scolls and orchestra music in space station 13

[2020-10-03 10:57] Qodify commented on #5
Ultimately, I think @danieljray is in the right here. The ability too just download sheet music of well known songs without a fee always seemed to good to me. But like the others I did get used to this incredible feature that one day was yoinked from us.

 I would like to talk about the design and communication of the paywall. The feeling of the pay-wall is far uglier than it needs to be.

First,

[2020-10-06 13:13] danieljray commented on #5
@Qodify We are working to improve the user experience and to provide more transparency. Part of these practices are dictated by conditions of rights holder, but we are continuously listening to feedback and working to improve.

@Xmader as I have not received any response from you, we will proceed with Github to have all copyrighted materials and any references to them blocked. You are clearly inte

[2020-10-06 13:24] marcan commented on #5
@danieljray You keep completely passing over the fact that public domain, original, or requiring an explicit agreement with a rights holder organization are not the only options. Are you deliberately trying to bury the elephant in the room?

I recently found out about an interesting piece of software. You may have heard of it, it's called MuseScore. It's pretty neat! What's more interesting, thoug

[2020-10-06 13:43] danieljray commented on #5
@marcan the distribution of MuseScore software (including availability and use of source code) and distribution of scores are two very separate activities.

Regarding the MuseScore software, this is fully within our control and we are not only 100% committed to open source, but also free software.

We are also very committed to making public domain content freely available and even engage a team t

[2020-10-06 13:53] marcan commented on #5
What? The music rights industry is now banning open licensing from *existing* alongside their own stuff? I'm sorry, I don't buy that. If that is really true, that is absolutely evil and you are doing the community a disservice by not fighting against it. But I highly doubt it's true, because it doesn't make sense, and because this is the first time I've heard of this; for example, YouTube has no p

[2020-10-06 13:54] dalva24 commented on #5
So I've been watching this issue for some months now, and I think I'm just going to share my opinions on it.

First of all, I believe it is certainly a shame something that used to be provided for free is now locked behind a paywall. I have read statements from danieljray, and can agree to the reasonings that the change from free to paywall is in large part due to pressures from copyright holders

[2020-10-06 13:59] danieljray commented on #5
@marcan YouTube is about recorded audio, while Musescore.com is about printed sheet music.

The licensing of rights for these very different scenarios are not at all similar.

Consider Google's own licensing restrictions with Google Books vs. YouTube.

To access full content with Google Books (and in some cases all content), you must pay to access.

This is very different from master recording rig

[2020-10-06 14:11] danieljray commented on #5
It those cases the composer that uploaded incorrectly attributed the work. We are working on ways to resolve any inaccurate attributions.

If MuseScore was not acquired and continued down the current path, it would have been already shut down by now. This is what many people do not understand. MuseScore was going to be shut down if it was not acquired and a plan put in place with rights holders.

[2020-10-06 14:34] marcan commented on #5
That may be so, but you are claiming that printed music rights holders refuse to allow Creative Commons content to coexist on the same platform as their own copyrighted works, which is beyond insane.

If this is seriously the case, and your lawyers can't work this out, then the only thing reasonable thing for you to do to not leave the community stranded is simple: create a new instance of the mus

[2020-10-06 14:38] IamRifki commented on #5
@marcan You might be interested in @Xmader's Librescore Project. https://github.com/LibreScore/LibreScore

[2020-10-06 15:52] danieljray commented on #5
There are more than 12 million members of the community and it is growing at a rate of thousands per day.

The number of people complaining about the particular issue of not having a more flexibility with variants of CC licenses is less than 50. This issue is not quite as large of an issue as you perceive it to be.

We recently sent a survey to a sizable segment of Musescore.com users and received

[2020-10-06 18:49] ABAABAAAAA opened #28 "Chrome not working"
I tried to download a midi and it didnt work, no download was initiated

[2020-10-06 18:51] #28 closed

[2020-10-08 05:55] Xmader opened #29 "MuseScore must open source their mobile app"
The [MuseScore mobile app](https://play.google.com/store/apps/details?id=com.musescore.playerlite) uses code from the [MuseScore desktop software](https://github.com/musescore/MuseScore), which is [open source under GPL](https://github.com/musescore/MuseScore/blob/master/LICENSE.GPL).

Therefore, the MuseScore team (or UltimateGuitar, or [wsmgroup.ru](https://www.linkedin.com/company/wsm-group) ac

[2020-10-08 06:20] Xmader commented on #5
Please and must [open source your mobile app first.](https://github.com/Xmader/musescore-downloader/issues/29)

[2020-10-08 06:56] Xmader commented on #29
I can prove this, even without the need to reverse-engineer the app,

These following simple commands can reveal the nature of using [libmscore](https://github.com/musescore/MuseScore/tree/master/libmscore) in the mobile app.

(Think it another way. Will the MuseScore team write code from zero to process MSCZ files?)

[code]

Results

[code]

Where did the strings come from?

`MuseScore Tab Late R

[2020-10-08 07:36] Xmader commented on #29
More example

[code]

[code]

Search the code where those strings locate at using <https://github.com/musescore/MuseScore/search>

[2020-10-08 08:01] North-West-Wind opened #30 "Download MP3 not including all parts"
I tried downloading the MP3 of a sheetmusic with 40 parts, but the downloaded MP3 file have some parts missing. [Here is the link](https://musescore.com/xiaomigros/best-rainbow-road)

First, listen to the music played on Musescore. Then listen to the music downloaded. You will notice the melody missing for the downloaded file.

[2020-10-08 08:06] Xmader commented on #30
The page actually plays [a YouTube video](https://www.youtube.com/watch?v=66C-E5sKEQs) in the background.

[2020-10-08 08:12] North-West-Wind commented on #30
wow i never thought of that

[2020-10-08 08:28] Xmader commented on #30
Open web developer tools using <kbd>F12</kbd>,  and search for `youtube`

[2020-10-08 08:36] North-West-Wind commented on #30
It seems the iframe only appears after playing it. So we cannot use cheerio on this?

Also, I just realize the missing part is the error of Musescore itself, not the mp3.

[2020-10-08 08:52] IamRifki commented on #29
This proves once again, that MuseScore does not give a single damn about their code contributers.

[2020-10-10 03:29] MisterPapagiorgio opened #31 "Doesn't seem to work on firefox anymore?"
I'm using the script with Violent Monkey, and it has worked in the past.  However, after I click the download button, I get the usual options (pdf, musecore, etc).  I click pdf, and instead of downloading, I get the window wanting me to subscribe.  Any tips?

![1](https://user-images.githubusercontent.com/72639393/95644816-34585900-0a87-11eb-8b16-08d4ff5979e5.jpg)

[2020-10-10 08:25] sguillia commented on #31
Just tried on Chromium with Tampermonkey, it works fine.
I don't know for Firefox but at least you can still download scores

[2020-10-10 16:22] MisterPapagiorgio commented on #31
OK, I'll give Tampermonkey a try.  Thanks.

[2020-10-17 07:23] lincoln123987 opened #32 "404 not found nginx"
for last 3days, im unable to download musescore midi files , it shows 404 not found nginx, pls fix it as soon as possible

[2020-10-17 09:58] Jabster28 commented on #32
^ having issues too

[2020-10-17 18:49] SushiInYourFace commented on #5
@danieljray

I have a couple of questions. First, when you say that you are not the "bad guys" here, does that mean that what's at fault right now is Ultimate Guitar, broken copyright laws, or both? Secondly, I'm still wondering about the email that started this whole thing. As someone else pointed out, it did seem a bit fishy and poorly written. Did this email actually come from Musescore?

[2020-10-18 11:23] Xmader commented on #32
fixed in `v0.8.3`

[2020-10-18 11:23] #32 closed

[2020-10-18 16:13] lincoln123987 commented on #32
thanks xmader, you are a life saver :)

[2020-10-19 03:51] Endcrafter16 opened #33 "Download Keeps Failing"
The **MCSC** Download works **fine**

![bug repor 2](https://user-images.githubusercontent.com/57860862/96399516-1b774280-1201-11eb-8507-15e7b721ff0c.JPG)

But when downloading by pressing midi, mp3 and the other file formats it keeps on failing

![bug report](https://user-images.githubusercontent.com/57860862/96399586-43ff3c80-1201-11eb-9895-f25aeb067fa2.JPG)

[2020-10-19 03:54] Peanut84 opened #34 "Downloade Failed!"
First of all, ty so much for the script.
I have a problem, past release i had the 404 error when attempt to download Midi or mp3. Now with the update i have "Download Failed!" error when i try to download a midi or mp3.
![error](https://user-images.githubusercontent.com/73091226/96399765-8abf4900-11a5-11eb-9cc5-cbce7f168573.png)

[2020-10-19 04:08] Xmader commented on #34
duplicated with #33

[2020-10-19 04:09] #34 closed

[2020-10-19 04:13] Xmader commented on #33
It seems to be a problem of musescore.com itself. Can all sheet images on that page load correctly?

[2020-10-19 04:27] Peanut84 commented on #33
Now that you mention no, they not loading properly

[2020-10-19 10:07] Xmader commented on #33
fixed in ` v0.8.4`

[2020-10-19 10:07] #33 closed

[2020-10-21 09:04] Muhammadin96 opened #35 "Doesn't let me download"
I tried to download a midi but it doesn't work anymore. It gives me a download failed warning.
![Capture](https://user-images.githubusercontent.com/73223725/96698263-7ce51000-13bf-11eb-8466-1cf78c978604.PNG)

please help.

[2020-10-21 14:07] rtg11 commented on #35
me too

[2020-10-21 15:03] Xmader commented on #35
fixed in `v0.9.1`

[2020-10-21 15:03] #35 closed

[2020-10-21 15:15] examateur commented on #35
Thanks a lot Xmader !

[2020-10-22 11:18] okajimaitsuki opened #36 "Can't download midi"
I can't download midi file.
when I press button,text changed into "processing" but doesn't start downloading.
I've tried Google Chrome and Microsoft Edge with Ubuntu 20.10

[2020-10-22 13:09] rtg11 commented on #36
me too

[2020-10-22 18:39] Chosaint commented on #36
I also am having this issue, I use Chrome browser usually, I installed Firefox thinking maybe it was a browser issue. Still just get "processing".
I've tried restarting the script, reinstalling the Tampermonkey and Musescore-Downloader, but it does not remedy the issue.
![MuseScoreDownloader](https://user-images.githubusercontent.com/35324014/96915616-4ceb4a80-145b-11eb-8e63-f0b5ae26eaa9.jpg)

[2020-10-22 19:31] dayoshiguy commented on #21
this!

[2020-10-22 21:17] Xmader commented on #36
fixed in ` v0.9.2`

Note:
`Download PDF` and `Download MIDI` has been deprecated (may still work).
Use `Download PDF` or `Download MIDI` button inside `Individual Parts` instead.

[2020-10-22 21:17] #36 closed

[2020-10-22 21:58] Chosaint opened #37 "0.9.2 update issues"
I was able to download one midi and it gave me an error saying it was "Deprecated" and to try to download from individual parts. I tried this with the other one I attempted to download and I am still unable to download the midi through individual parts. I tried using Chrome browser. I will retry with Firefox

![MuseScoreDownloader](https://user-images.githubusercontent.com/35324014/96934408-00ae03

[2020-10-22 22:15] Xmader commented on #37
What's wrong with `Individual Parts`?

[2020-10-22 22:25] Xmader commented on #37
Just click `OK`, and it will proceed to download.

[2020-10-23 12:34] asusplayer opened #38 "No Download buttons"
Hey, I just tried to download something but then I realized, that the Download - Buttons are not avaiable. I think musescore has changed some sourcecode so the plugin wont show up anymore, because it can't find the code.
![image](https://user-images.githubusercontent.com/51540487/97004071-c313ae00-153c-11eb-8787-56656452f6ea.png)
also in chrome:
![image](https://user-images.githubusercontent.com/5

[2020-10-23 12:57] BenHilling03 commented on #38
I got the same issue too.

[2020-10-23 13:16] jacobvenborg commented on #38
Yep, me as well. Tried both FF and Chrome (both latest versions, I reckon) on Windows 10 using both ViolentMonkey and Tampermonkey. I've been succesfully using this script a few weeks earlier :) And thank you so much for this script, Xmader!

[2020-10-23 13:27] mmikosu commented on #38
Same with me. I'm using Firefox Developer Edition 83.0b2, ViolentMonkey v2.12.7, and Windows 10 Build 19041.572.

[2020-10-23 13:31] Xmader commented on #38
Wait one moment

[2020-10-23 13:32] asusplayer commented on #38
Thank you!!

[2020-10-23 14:07] Neiko-Real opened #39 "No download buttons"

[2020-10-23 14:07] Neiko-Real commented on #39
![Capture](https://user-images.githubusercontent.com/65108569/97013881-3cc09180-1567-11eb-8af4-386183d6ae9f.PNG)

[2020-10-23 14:17] asusplayer commented on #39
I've already posted an issue and he is currently fixing it.

[2020-10-23 14:18] BenHilling03 commented on #38
Even after the update it still didnt work

[2020-10-23 14:18] Neiko-Real commented on #39
huh ok

[2020-10-23 14:38] asusplayer commented on #38
It works on Firefox now! <3 Still nothing on Chrome

[2020-10-23 14:40] #39 closed

[2020-10-23 15:02] Neiko-Real commented on #38
please chrome fix

[2020-10-23 15:05] Neiko-Real commented on #38
new update, is it updating on greasyfork now?

[2020-10-23 15:06] Neiko-Real commented on #38
FIXED, 0.9.3 duplicate name in greasyfork

[2020-10-23 15:08] Xmader commented on #38
I just made some mistakes. It should show `v0.9.4` now.

[2020-10-23 15:09] Neiko-Real commented on #38
yes fixed thank you

[2020-10-23 16:36] Chosaint commented on #37
Yes, my apologies it still works. It seemed it was just a one time hiccup, I've not had an issue since after clicking okay.

[2020-10-24 01:07] #38 closed

[2020-10-24 01:08] #37 closed

[2020-10-24 14:29] Neiko-Real commented on #5
what has happened in this legal processes? @Xmader Have they sent a notice?

[2020-10-24 20:18] Xmader commented on #5
I think they won't.

---

@danieljray

You stated that this script might violate the copyright holders’ rights. However, the point is, how does this script violate **your** (MuseScore’s) **copyright** specifically?

(**MuseScore does not own any of score uploaded to musescore.com**)

Remember, you are not those copyright holders. You can’t send any takedown notice on behalf of them.

[2020-10-25 13:55] Neiko-Real commented on #5
I think @danieljray was trying to scare you into taking down the repo.
After accepting failure he stopped commenting

[2020-10-26 15:12] Kineo-Dev opened #40 "Is there a way to download this from musecore?"
https://musescore.com/pro/landing/official-score?official_score_id=477334&feature=official-from-search-real

[2020-10-26 20:42] Mrgraham306 opened #41 "i have downloaded tamper monkey and have used the greasy fork link..."
but when i go to musescore and click on the new buttons that show up, 4 don't do anything, and download midi just says that it is depreciated here is some video of me using it on google chrome and my tamper monkey files, i hope this helps or i can be helped, thank you

![ezgif-3-ef63e7cca8f0](https://user-images.githubusercontent.com/47866184/97226181-058df280-17aa-11eb-96c2-12f82642a85d.gif)
![ez

[2020-10-26 22:24] Xmader commented on #41
fixed in `v0.9.8`

[2020-10-26 22:24] #41 closed

[2020-10-27 01:40] Xmader opened #42 "Greasy Fork is too scared to face a DMCA notice"
<https://greasyfork.org/en/scripts/391931-musescore-downloader/reports/5060> | [archive](https://web.archive.org/web/20201027012946/https://greasyfork.org/en/scripts/391931-musescore-downloader/reports/5060)

<https://greasyfork.org/en/discussions/greasyfork/65501-unreasonable-dmca-takedown-dmca-counter-notice> | [archive](https://web.archive.org/web/20201027013010/https://greasyfork.org/en/discus

[2020-10-27 01:50] Xmader commented on #5
MuseScore came to scare Greasy Fork. see https://github.com/Xmader/musescore-downloader/issues/42#issue-730028032

[2020-10-27 02:52] Xmader commented on #42
I received a message from the Mod who take the script down on Greasy Fork.

[2020-10-27 13:53] Neiko-Real commented on #42
looks like is it unreasonable
what next to do is something i would know.

[2020-10-27 13:55] Neiko-Real commented on #42
hey. also ive been thinking about setting up a discord for librescore.
you know so we can discuss about this.
my email is dilanuthan66@gmail.com

[2020-10-27 15:29] Neiko-Real commented on #42
still chattin with gitlab? @Xmader

[2020-10-27 15:35] Xmader commented on #42
Yes, my Gitlab account has been disabled, but the Gitlab support ticket page can work.

[2020-10-27 15:39] Neiko-Real commented on #42
Well, there's nothing you can really do now.

[2020-10-27 15:53] Neiko-Real commented on #42
they are chasing you down hard.

[2020-10-27 15:58] Neiko-Real commented on #42
i suggest changing hosting for the script

[2020-10-27 16:41] SealsRock12 opened #43 "Building Instructions"
Hello,

How do I build this, since the greasy fork link got taken down?

[2020-10-27 16:47] SealsRock12 commented on #43
Never mind, I figured it out. You don't have to build it, just use `dist`.

[2020-10-27 16:48] #43 closed

[2020-10-27 19:24] BMHater12 commented on #42
I have a feeling that Musescore is trying to kill this project off.

[2020-10-27 20:52] Ximich commented on #42
Yes, this repository will be closed in near future. Sorry for delay, we didn't have time to work on this issue.

Information about users who use this extension on musescore.com will be shared with local police. Most countries comply with copyright laws. Intellectual property objects will be protected.
But any users still can use Public Domain scores for free. Nothing changed.

Musescore as content

[2020-10-27 21:19] Mrgraham306 commented on #41
xmander, i know that you are busy... but if you... could delete this ticket issue i... would personally feel more... safe.... i dont know how git hub works and im scared something bad might happen to me...

[2020-10-27 21:28] Mrgraham306 commented on #42
look... im scared personally i just wanted a midi file.. not be be caught in a legal problem and now im being threatened with the police being told about this, this is serious and.... i dont want to be hurt @Ximich please could i... talk to you

[2020-10-27 22:17] Xmader commented on #42
@Ximich

Wow, interesting.

What copyright you hold in order to send a copyright infringement notice?
You can't even explicitly prove that you are licensed by the copyright holders you said.

I know your local police can jail anyone they want, without any reasonable evidence or investigation, just like ~~your~~ our greatest friend KGB did in ~~your~~ our greatest USSR. Will it work in other countr

[2020-10-27 22:40] Xmader commented on #41
Don't worry, copyright laws will not work that way. Don't be scared by him. The police will do nothing because you just downloaded some files.

He cannot provide any reasonable statements, so he just tries to frighten anyone he can reach, to make people stop using my script.

[2020-10-27 23:34] Mrgraham306 commented on #41
forgive me for being scared still but i hope you understand why... i am scared... once again... please take down my issue and don't list it... in the files im sorry... its.. not like i will do anything if you dont but... i... just want out... if there is something you recommend i do i would appreciate the advice... i dont know if this issue can be taken down, if it cant, there is nothing that can

[2020-10-28 05:33] Neiko-Real commented on #42
Ok im setting up redundancy servers. This script is everywhere good luck trying to get rid of it 😃

[2020-10-28 05:34] Neiko-Real commented on #42
@Xmader  dont worry we'll stqy beside ya till the end

[2020-10-28 05:35] Neiko-Real commented on #42
@Ximich
 BTW your profile pic sucks af.

[2020-10-28 05:48] Neiko-Real commented on #42
@Xmader and others use email as preferred method of communication.
Im setting up a end to end encrypted chat right now

[2020-10-28 06:19] Neiko-Real commented on #42
Anyone who wants to join please email me at dilanuthan66@gmail.com

[2020-10-28 13:51] Neiko-Real commented on #42
my group will be on keybase.io, please make accounts according to that

[2020-10-28 20:08] sitdownmusescore commented on #42
Hey Ximich, I want to tell you something,

I have been using this script for a very long time even I have a pro account. It's because you (MuseScore) guys don't let us download more than 20 sheets per day. FFS, what's the point of this? I will continue to use this script and I will end my subscription end of the year. If you increase the download limit per day maybe I can consider subscribing agai

[2020-10-28 20:23] sitdownmusescore commented on #42
Hey Ximich, I want to tell you something,

I have been using this script for a very long time even I have a pro account. It's because you (MuseScore) guys don't let us download more than 20 sheets per day. FFS, what's the point of this? I will continue to use this script and I will end my subscription end of the year. If you remove the download limit per day maybe I can consider subscribing again.

[2020-10-29 10:14] RokonShimo opened #44 "did the musescore website update? this seems to no longer work."

[2020-10-30 01:28] Xmader commented on #21
landed in `v0.10.0`

[2020-10-30 01:49] Xmader commented on #44
It should be fixed in `v0.10.1`

[2020-10-30 01:49] #44 closed

[2020-10-30 03:17] Philhubgitme120 commented on #42
Hi are you the creator/owner of that site? I want to say your site used to be FREE everything was FREE and I could download whatever hell midi I want! Used to be a wonderful site but NO YOU HAD TO FK IT UP BY YOUR OWN STUPIDITY AND GREED! NO OTHER SITE GIVES MIDI FOR A STUPID PRICE! You and your site staff are full of cheapskates! robbers! corruption! I never seen anything on the internet that can

[2020-10-30 03:21] Philhubgitme120 commented on #42
you are very generous and  those very kind words show that you truly are on the very right side! I so agree that  this whole change behind Musescore's idea was ridiculous and greedy! Greed will not win over our own rights and freedom! Midis should be FREE AND ALWAYS FREE!

[2020-10-30 03:34] Philhubgitme120 commented on #42
Wow! holy! I had no idea until now that this has become a serious riot lately between the people who visited the site and the idiots who made the site! What in the hell Musescore was thinking before they created a monster on their site?! I think the internet is just becoming full of greed and corruption now other sites like Photobucket, Imageshack, and Musescore are now becoming part of a ridiculo

[2020-10-30 04:02] Philhubgitme120 commented on #42
ITS YOU WHO ARE THE ISSUE YOU CHEAP MONGREL! I SWEAR COVID WILL GET YOU AND FEWER PEOPLE WILL COME TO YOUR CHEAP SITE BECAUSE NOBODY WANTS TO PAY FOR FREE MIDIS! YOU CHEAP CONFUSED IMBECILE! YOUR CRUMMY SITE WILL SHUT DOWN IN THE NEAR FUTURE BECAUSE MORE AND MORE PEOPLE WILL HATE YOUR SITE FOR NOT GIVING FREE MIDIS!

[2020-10-30 04:15] Philhubgitme120 commented on #42
That's highway criminal I say! CRIMINAL! Taking down someone's own script that Musescore didn't made against a site that was always FREE! The site owner is a COMPLETE SCAM LORD!

[2020-10-30 10:33] Mte90 commented on #21
BUt is not published yet on addons.firefox and Chrome Webstore right?

[2020-10-30 12:48] mqxao opened #45 "it wont let me download anything;;"
instead it just comes up with a dialogue box that goes
"DEPRECATED! Use 'download MIDI' inside of 'Individual Parts' instead. (This may still work. Click 'OK' to continue) "
and when i do click 'OK' it shows me this:
![image](https://user-images.githubusercontent.com/73699766/97704700-de0e9100-1aed-11eb-942c-8abb9433cd08.png)
:\\ what do i do???

[2020-10-30 13:44] Xmader commented on #21
The extensions are pending reviewing by someone on those sites. It may take days.

[2020-10-30 13:50] Xmader commented on #45
MuseScore updates their site almost everyday, so it won't work if I can't update this script on time.

Just do what the dialogue box says: Go to `Individual Parts`, select `Full score`, and click `download MIDI`.

[2020-10-30 19:16] Xmader commented on #21
The extension on addons.mozilla.org is [up](https://addons.mozilla.org/en-US/firefox/addon/musescore-downloader/).

[2020-10-30 22:04] Xmader commented on #45
fixed in `v0.10.2`

[2020-10-30 22:04] #45 closed

[2020-10-31 00:24] mqxao commented on #45
thanks !!!

[2020-11-02 06:19] StabbyAlbert commented on #42
I don't think Greasy Fork attracts much traffic to your script in the first place. Most likely people came her searching Music Score Downloader on google and found this one to be the top result. On the basis that github is the first search result, leaving your script on Greasy Fork wouldn't facilitate script distribution.

[2020-11-02 18:29] marcan commented on #42
It is now crystal clear that whoever is sending these notices at MuseScore is either not a lawyer, or is a completely incompetent one. They are claiming copyright infringement, a la DMCA takedown notices, but that is nonsese. DMCA notices are only valid for *copyrighted content*. These are *tools*, and MuseScore does not own the copyright to them, so they cannot take them down using the DMCA notic

[2020-11-03 13:30] Long-FA commented on #42
Shh, don't give them more ideas.

[2020-11-03 13:42] Xmader commented on #42
Musescore's many products (the mobile app, the program on their server, and some Ultimate Guitar things) are using GPL licensed code (#29), so they are responsible for releasing the whole source code under the same licence.

[2020-11-03 23:00] Rotekoppen opened #46 "MSCZ & MusicXML fails to download, however midi & pdf still works"
Firefox, using both violentmonkey and the addon on linux

and

Chrome, using tampermonkey on windows

Firefox with the addon developers console:

[code]

[2020-11-04 02:35] Leon-Russia commented on #46
[code]

[2020-11-04 05:22] Xmader commented on #46
temporarily fixed using the dataset of MSCZ files on IPFS

[2020-11-05 14:06] SnekMuffin opened #47 "Musescore now detects this script."
![download](https://user-images.githubusercontent.com/49637097/98250960-13feba00-1fb3-11eb-9ddd-28d8ba3def4b.png)

Seems we're donezo now.

[2020-11-05 14:57] 8bit-coder commented on #47
Yeah, I have this issue too now. RIP.

[2020-11-05 15:02] Xmader commented on #47
fixing it

[2020-11-05 16:54] Xmader commented on #47
fixed in `v0.11.1`

[2020-11-05 16:54] #47 closed

[2020-11-05 20:45] dayoshiguy opened #48 "Musescore patched this I think"
It says I have a banned plugin and that they very angery lol

[2020-11-05 20:46] dayoshiguy commented on #48
![Screenshot 2020-11-05 at 3 45 49 PM](https://user-images.githubusercontent.com/11911537/98294478-04b14980-1f7e-11eb-863f-e552f0d4aa71.png)

[2020-11-05 20:47] dayoshiguy commented on #48
what tf is the point of musescore if they pull shit like this... They want us to just stare at the sheets and not use them? wtf?

[2020-11-05 21:15] Apeii050 commented on #48
I got this today too. Should I be concerned about the whole reported to law enforcement thing?

[2020-11-05 21:27] Xmader commented on #48
They are just scaring you to make you stop using this script.

[2020-11-05 21:40] Apeii050 commented on #48
Well, I dunno. Considering they are partnered up with some serious companies and google knows everything, so I don't reckon I want to risk it, mainly because getting involved in legal issues would be very bad for me atm. I think your script is awesome, so keep at it, but I don't reckon I'll be using it until I get a little more clarification on the issue.
I suppose I can only hope for the best at

[2020-11-05 22:33] Xmader commented on #48
fixed in `v0.11.2`

[2020-11-06 00:26] popyd10 commented on #48
The "Unauthorized use of copyright content" message appears a few seconds after page loading even after new update.

[2020-11-06 03:37] Apeii050 commented on #48
Just out of curiosity, can they actually send police? I having anxiety about the whole things, silly as that may sound. This issue sounds pretty legit. Whether it's okay or not, the law is the law and this plugin does seem to breech it.

Also, Xmader, I noticed you had a Musescore alternative website, wont that eventually suffer the same legal issues Musescore had to face?

[2020-11-06 03:55] SealsRock12 commented on #48
I don't think so. This is because the musescore software itself is under the GPL license, which allows others to do almost anything with it. Even though the musescore dot com website is using proprietary code, Xmander is completely allowed to make their alternative as long as they aren't using any of musescore dot com's code.

[2020-11-06 04:12] Apeii050 commented on #48
Code isn't the issue here, it's the songs themselves. This script gives access to downloading the files, which according to Musescore is breaking the law. And when I am talking about Xmaders alternative, I mean legal issues such as big music companies demanding compensation for infringement.

[2020-11-06 04:31] Xmader commented on #48
There are no such "copyrighted contents" at all.

As you know, scores on musescore.com are all user uploaded.
(Except for the newly added "official scores", which this script cannot cover #40. They are actually from UltimateGuitar's site)

According to Musescore's term of use (<https://web.archive.org/web/20200707121931/https://musescore.com/legal/terms>), "Musescore does not claim any ownership r

[2020-11-06 04:56] Apeii050 commented on #48
MuseScore doesn't hold the copyrights, however, they are responsible for maintaining the legal stuff concerning songs on their website with copyrighted content. It is for this reason that I believe their threat is serious.

[2020-11-06 05:29] SnekMuffin commented on #47
Oh wow, that was quick. Didn't even hope it was fixable at all.
Huge thanks, Xmader 👍

[2020-11-06 05:46] SealsRock12 commented on #48
Sorry, I was talking about LibreScore, the musescore alternative that @Xmander is creating. To my knowledge, LibreScore isn't hosting any copyrighted songs nor taking anything from musescore dot com.

They can take down the script by a cease and desist under the anti-circumvention law.

[2020-11-06 09:31] Mte90 commented on #21
![Screenshot_2020-11-06](https://user-images.githubusercontent.com/403283/98350123-32000500-201b-11eb-8b81-b3b815395dd0.png)
Seems that musescore can detect that extension :-(

[2020-11-06 10:08] Brokop commented on #48
I am personally not using this script, I am just following the development and situation here. Based on my knowledge, most of MuseScore website threats are just threats which are very poorly put together to scare people from using any extensions. Based on my limited knowledge, saying the content is belonging to big companies and that they pay royalties to all the original scores uploaded by small

[2020-11-06 11:20] org250 commented on #48
I have a law degree, so I can enlighten you a little bit on this issue. The rights to the works of authors belong to the author of the work. This applies to both the music record and sheet music. Therefore it doesn't matter if the content is user-generated or not, the rights to a piece of music still belong to the author of the work, not to the transcribers of sheet music. If MuseScore does have a

[2020-11-06 13:44] Xmader commented on #48
Musescore cannot send a DMCA notice isn't it? because Musescore is not the copyright holder.
Musescore would only be licensed to use them on the site (just like anyone buys a licence), not permitted to deal with the copyright things on behalf of the copyright holders.

[2020-11-06 15:04] Neiko-Real commented on #48
still not fixed.
still same thing

[2020-11-06 15:06] Neiko-Real commented on #48
@Xmader Unfortunately under the DMCA act, if only IF they have signed agreements WITH SPECIFIC AUTHORS of said musics they can invoke this DMCA rule.
They do not have the agreements of people like CG5 and the living tombstone (FNAF) music.
They cannot invoke the DMCA For those. But for famous people like Ed Sheeran and Shawn Mendes etc this copyright rule CAN be invoked

[2020-11-06 15:10] Neiko-Real commented on #48
@Xmader They should only block authors with agreements to them.
If they sell material without the permission of ALL and I SAID ALL authors of the sheet music in musescore, they can be put under legal battle for that.
And Finally. if this "public domain scores and original works may still be downloaded for free"
These may be free BUT, could they assure that they got the permission from all the auth

[2020-11-06 15:17] Neiko-Real commented on #48
keybase.io group ready. @Xmader sign up with your email i@xmader.com
you will be granted owner on joining

[2020-11-06 15:18] Neiko-Real commented on #48
everyone else send their email to dilanuthan66@gmail.com

[2020-11-06 16:15] Neiko-Real commented on #48
i will admit people

[2020-11-06 16:18] SealsRock12 commented on #48
This is why I am not using the script either, just following the development of it. Although if Musescore does have agreements with copyright holders, it is the respective copyright holder's jobs to file a lawsuit or a DMCA notice against this script.

[2020-11-06 16:23] Neiko-Real commented on #48
It is fine, since they cannot physically arrest us

[2020-11-06 16:29] Apeii050 commented on #48
Whats to stop them from doing so?

[2020-11-06 16:32] Neiko-Real commented on #48
hmm
for one the PR failure. HEADLINES: MUSECORE ARRESTING FREE MUSIC USERS

[2020-11-06 16:33] Neiko-Real commented on #48
hmmmmm???

[2020-11-06 16:33] Neiko-Real commented on #48
your killin me, XD. Arrested for downloading music

[2020-11-06 16:36] Neiko-Real commented on #48
imagine a 13 year old, get arrested by police for THIS

[2020-11-06 16:36] Neiko-Real commented on #48
theres probably children using this script who knows??

[2020-11-06 16:37] Brokop commented on #48
_"12 Year old college student who wanted to practice his favorite Living Tombstone track in Synthesia facing charges by MuseScore for allegedly downloading music."_

[2020-11-06 16:39] Brokop commented on #48
Besides, what data really museScore collects? They can get approximate location by IP, but thats about where it ends. Its not like they are putting their resources into an entire tracking investigation. Imagine using Onion Relay so you can access MuseScore

[2020-11-06 16:40] Neiko-Real commented on #48
@Brokop exactly MY POINT

[2020-11-06 16:42] Neiko-Real commented on #48
you know really its unfair

[2020-11-06 16:46] Brokop commented on #48
I wonder what would the MuseScore open-source OGs App PR team say on these threats the web department mods are doing. Still cant understand how a considerably big site like MuseScore has so unprofessional and may I say nearly comedic threats. If you are on youtube and actually use any copyrighted content, you are just either forced to mute it or get one out of three strikes. But MuseScore be like:

[2020-11-06 16:48] Apeii050 commented on #48
I was thinking more along the lines of, “Musescore users utilize script to download and redistribute music”. Whether we actually are redistributing or not, they could twist the story to be whatever they wanted, especially since musescore has big music companies behind it. UG is pretty scummy from what I know and i wouldn't put it past them to pull something like that. Plus, some users made their a

[2020-11-06 16:48] Neiko-Real commented on #48
lol

[2020-11-06 16:50] Neiko-Real commented on #48
cant pro users 'redustribute'?

[2020-11-06 16:50] Brokop commented on #48
YEA OF COURSE! YOU PAY US SO WE LOOK PAST ALL THE COPYRIGHT.

[2020-11-06 16:51] Brokop commented on #48
MuseScore would have to get a warrant first from law enforcement to get any data outta google or ISP.

[2020-11-06 16:52] Neiko-Real commented on #48
yep, no

[2020-11-06 16:52] Neiko-Real commented on #48
when visiting the website they could get our ips

[2020-11-06 16:53] Apeii050 commented on #48
Couldn’t they get the warrants if there is copyright infringement going on?

[2020-11-06 16:53] Brokop commented on #48
Public IPs will just point to the general city geodata.

[2020-11-06 16:54] Brokop commented on #48
And you cant get any dirt on your for just owning this extension at all. Thats a fact as long as this extension doesnt have any copyrightable data included. And as far as I know its based on previously public API which hasnt even been altered in a way to make this illegal.

[2020-11-06 16:54] Neiko-Real commented on #48
yep. exactly...

[2020-11-06 16:55] Neiko-Real commented on #48
its all buullcrap

[2020-11-06 16:55] Brokop commented on #48
They would have to make sure there is an infrindement going on in the first place and very extensively prove it.

[2020-11-06 16:56] Apeii050 commented on #48
But usage of the extension could be found through files on your pc, unless you do a hard pc wipe

Whether or not they actually can take you to jail, i’d prefer not to be involved in anything legal.

[2020-11-06 16:56] Neiko-Real commented on #48
hmm

[2020-11-06 17:00] Brokop commented on #48
Hi @Apeii050
MuseScore as a site has nearly no clue where you are, what PC you are using or who you are. Only law enforcement is authorized to come and check it out only with a valid warrant given by some justice dept. I advise you to not use the extension to download anything illegal but I doubt anything would actually happen. Its likesaying  just owning Torrent client is illegal or accessing TOR

[2020-11-06 17:00] Brokop commented on #48
Not to mention warrant and stuff would be costly for MuseScore. And It would also drag attention to some shady licensing issues MuseScore has about commercial use of the content users upload under licenses which afaik prohibit that...

[2020-11-06 17:02] Brokop commented on #48
MuseScore Website is currently trying to scare everyone and close this extension off. I wouldnt do any fuzz about it if their attitude wouldnt be so unprofessional and wouldnt sound like they have no clue what they are talking about

[2020-11-06 17:02] Apeii050 commented on #48
I realize I am probably over exaggerating some of this, but my thoughts lead me to conclude that legal issues are possible. Guess I’m being driven by fear, but I also just can’t get into legal issues rn, no money to pay the fines

[2020-11-06 17:04] Neiko-Real commented on #48
dude there wont be A FINE

[2020-11-06 17:05] Brokop commented on #48
Just dont acknowledge you used it for anything illegal or at all @Apeii050, which is obviously the truth here as you were saying. otherwise they cant do pretty much anything. And I am very exaggerating what they can do.

[2020-11-06 17:05] Neiko-Real commented on #48
the courts wont even accept the case

[2020-11-06 17:05] Neiko-Real commented on #48
imagine the courts allowed this xD

[2020-11-06 17:05] Brokop commented on #48
Yeah. I bet there wont even be any in the first place. This entire threat is ridiculous.

[2020-11-06 17:05] Neiko-Real commented on #48
yep

[2020-11-06 17:06] Neiko-Real commented on #48
so dont even think about a "possiblity"

[2020-11-06 17:06] Brokop commented on #48
Just as I said, as long as you dont march to their HQ, give them your number and start spamming their support about illegaly using the actually licensed content... there is really nothing much happening.

[2020-11-06 17:06] Apeii050 commented on #48
Why cant they fine you over downloading arrangements and scores from other people? If I downloaded say Mario theme arrangement, couldn’t I be fined since the rights belong to nintendo?

[2020-11-06 17:07] Neiko-Real commented on #48
lol

[2020-11-06 17:07] Neiko-Real commented on #48
nop, since many people posted them ON YOUTUBE for free....

[2020-11-06 17:07] Brokop commented on #48
Couldnt museScore be fined for possesing a transcription of Mario copyrighted music which has not been acknowledged by nintendo for being derivative?

[2020-11-06 17:07] Neiko-Real commented on #48
and didnt get copyright??????????

[2020-11-06 17:08] Neiko-Real commented on #48
i bet musescore dosent even have the permission of the authors

[2020-11-06 17:08] Brokop commented on #48
I think there is some passage in TOS about uploading stuff you dont own but MuseScore doesnt really give a crap about moderating that

[2020-11-06 17:09] Neiko-Real commented on #48
yeppppppppppppppppppp

[2020-11-06 17:09] Neiko-Real commented on #48
ximich looks ugly

[2020-11-06 17:09] Neiko-Real commented on #48
just added that for lolz

[2020-11-06 17:09] Brokop commented on #48
So just imagine them actually spending a month of research, hundreds of dollard on a case file report and getting involved with international polices just for this. not to mention they would lose the case.

[2020-11-06 17:10] Brokop commented on #48
Well now lets dont get toxic at anyone here. I am trying to be unbiased and decent here.

[2020-11-06 17:11] Brokop commented on #48
do we have any actual confirmation @ximich has any affiliation with MuseScore?

[2020-11-06 17:14] Brokop commented on #48
Also a fun fact here, many big shops use copyrighted music as background music without any approval from the copyright holder. And these can be big companies.

[2020-11-06 17:15] Neiko-Real commented on #48
yep, he is either admin or dev, but i think he needs english lessons

[2020-11-06 17:16] Neiko-Real commented on #48
too much spelling mistakes

[2020-11-06 17:17] Brokop commented on #48
I think he more necessarily needs better understanding of how law and copyright works. Didnt @Ximich actually say something like we are all getting our data sent to police just for being here in this thread?

[2020-11-06 17:18] SealsRock12 commented on #48
Yes, people like me who don't even use this can't get into any legal trouble. We aren't helping the development of the script, either, just discussing it.

[2020-11-06 17:20] Neiko-Real commented on #48
um no

[2020-11-06 17:20] Neiko-Real commented on #48
why are you discussing if you arent suppporting?

[2020-11-06 17:20] Brokop commented on #48
And as I said, this script uses previously public API so the script itself isnt defyng any legal issues whatsoever.

[2020-11-06 17:20] Neiko-Real commented on #48
nop he is just a idiot

[2020-11-06 17:20] Neiko-Real commented on #48
grasping at straws

[2020-11-06 17:21] Brokop commented on #48
The API was released and as we all know, once its released you cant magically change its copyright status to anyone already obtaining the copy.

[2020-11-06 17:21] SealsRock12 commented on #48
I'm not writing any code, so how am I supporting this?

[2020-11-06 17:24] Brokop commented on #48
Yeah, @SealsRock12 hasnt pushed or merged any code. We are just joining the discussion here. I find the LibreScore project interesting too.

[2020-11-06 17:25] Neiko-Real commented on #48
your support is not in CODE

[2020-11-06 17:28] Brokop commented on #48
@Neiko-Real, legally speaking he isnt participating in development. @SealsRock12 is just cautious to not be associated in the case MuseScore MPs SWAT everyone here hehe. Which is understandable.

[2020-11-06 17:30] Neiko-Real commented on #48
yea, our world will end unless we praise musescore

[2020-11-06 17:31] Brokop commented on #48
The MuseScore Copyright Insurgency will destroy the opposition.

[2020-11-06 17:32] Neiko-Real commented on #48
no
WE ARE  REBELS

[2020-11-06 17:33] Brokop commented on #48
Speaking of MuseScore, they disabled downloading of MIDIs over a single day for all non public-domain scores. For everyone. Every score. They put em all behind a paywall. This probably could lead to a shady copyright issue much bigger than some guy downloading a midi. MuseScore could face actual charges if someone would pu the effort into it.

[2020-11-06 17:34] Brokop commented on #48
Look I think we shouldnt be spamming in a commit thread like this. Is there a discord server planned for this project I can join?

[2020-11-06 17:37] Neiko-Real commented on #48
yea ill make one soon

[2020-11-06 17:41] Xmader commented on #48
fixed again in `v0.11.4`

[2020-11-06 17:55] Xmader commented on #21
fixed in `v0.11.4`

[2020-11-06 18:07] Mte90 commented on #21
Confirmed now is working :-D

[2020-11-06 18:07] #21 closed

[2020-11-07 00:40] dayoshiguy commented on #48
someone make a youtube video about this musescore needs to be held responsible for this bs

[2020-11-07 03:03] Doge-Gamer commented on #5
Uhh... they started blocking the plug-in...

[2020-11-07 04:29] Neiko-Real commented on #48
Just comment your keybase username
Ill make a discord

[2020-11-07 04:35] Neiko-Real commented on #48
https://discord.gg/MmYkkkHzfE first 10 can join
@Xmader if you can please join
When you have time of course 🙂

[2020-11-07 06:13] Neiko-Real commented on #48
https://discord.gg/MmYkkkHzfE
Here you go join

[2020-11-07 13:13] North-West-Wind commented on #48
Hey @Xmader I think they patched it again. However, it seems that they only removed the GUI when extension is detected (By removed I mean it turns into the "Unauthorized use of Copyrighted Content" thing).

The detection takes a few seconds and I was quick enough to click the "Download MSCZ" button, and although the preview is gone, the script can still run in the background.

[2020-11-07 14:11] TheAlienDrew commented on #48
I found something out, if you just take the code and run it later after the website is finished loading the script will run fine.

I suggest maybe having the script run after a timeout of maybe 5 to 10 seconds... I'll do some more testing and publish a merge pull of my suggested changes.

[2020-11-07 14:27] TheAlienDrew commented on #48
See my pull https://github.com/Xmader/musescore-downloader/pull/49... the script works again, but must wait 8 seconds at the least so far for it to work again without tripping Musescore.

[2020-11-07 14:28] TheAlienDrew commented on #42
See my pull https://github.com/Xmader/musescore-downloader/pull/49... the script works again, but must wait 8 seconds at the least so far for it to work again without tripping Musescore.

[2020-11-07 14:29] TheAlienDrew commented on #40
See my pull https://github.com/Xmader/musescore-downloader/pull/49... the script works again, but must wait 8 seconds at the least so far for it to work again without tripping Musescore.

[2020-11-07 14:31] TheAlienDrew commented on #5
See my pull https://github.com/Xmader/musescore-downloader/pull/49... the script works again, but must wait 8 seconds at the least so far for it to work again without tripping Musescore.

[2020-11-07 14:50] marcan commented on #48
If you use such a script and it violates the website T&C's, they could hypothetically sue you. They could also hypothetically sue you for copyright infringement if they have agreements with publishers. They could sue you for any made up reason whatsoever, because anyone can sue anyone else (especially in the US).

They cannot, however, send the police to your door. At least not in most jurisdictio

[2020-11-07 15:44] TheAlienDrew commented on #48
They especially can't do anything against people that aren't redistributing the stuff they download through this extension.

[2020-11-07 15:46] TheAlienDrew commented on #48
In any case though, @Xmader not sure if this will help at all, as I'm not the best at reverse engineering... but I believe I found the part in Musescore's source code that detects when your downloader is loaded... note the zip file only contains the one JS file, but it 'talks' with other files when doing the detection. I did however highlight and include a note of where such assumed detection is t

[2020-11-07 16:18] TheAlienDrew commented on #48
As for the other files you might want to look at are: ms~runtime..........js, system...........js, and maybe the vendor........js

(......... imply the strings that always change)

[2020-11-07 16:43] TheAlienDrew commented on #48
Wait nevermind, I see you already know that when taking a look at https://github.com/Xmader/musescore-downloader/blob/master/src/btn.ts

[2020-11-07 22:56] Xmader commented on #48
fixed again in `v0.11.6`

[2020-11-07 23:19] TheAlienDrew commented on #48
Just tried the update, it's not working for me.

[2020-11-08 01:55] Xmader commented on #48
It works on Firefox. Fixing on Chrome

[2020-11-08 02:35] Xmader commented on #48
fixed in `v0.12.0`

[2020-11-08 04:46] Philhubgitme120 commented on #42
There something I just want to say, Musescore taken down some midis I
downloaded from when the site was FREE! 😨

Now the midis are gone I couldn't find them again. 😒

Thankfully I still have it so I should upload the missing midis someplace
else that's more safe!

In the meantime, please check out my free midi requests below! I really
wish someone should have the time making these for me!

https:/

[2020-11-08 04:53] djvplayz commented on #48
and it's back

[2020-11-08 05:06] Doge-Gamer commented on #5
I just realised, even if musescore takes down this repo, it won’t stop me from taking hours of my time to manually copy the music from my browser into some other program.

[2020-11-08 05:17] marcan commented on #5
Yes, the whole DRM nonsense with user-contributed sheet music is *particularly* absurd, because the publishers obviously have no copyright claim to the engraving, and the music is *right there*. The essence of the MuseScore files is the engraving and transcription work; as far as the copyright story on the original composition, there is no tangible difference between allowing download in MuseScore

[2020-11-08 08:02] FelixHappyGamer opened #51 "Problem downloading MSCZ files, downloads random music sheet instead."

[2020-11-08 16:00] Jabster28 commented on #48
@Xmader maybe write a CI function that changes the code every half an hour so musescore's devs would have a hard time? ;)

[2020-11-08 19:31] TheAlienDrew commented on #42
This is not a place to request for MIDIs.

[2020-11-08 22:06] Xmader commented on #51
Which page?

[2020-11-09 03:52] Neiko-Real commented on #48
@Xmader have you joined. I see almeone with your name

[2020-11-09 03:53] Neiko-Real commented on #48
New invite link
https://discord.gg/DKu7cUZ4XQ

[2020-11-09 04:00] Xmader commented on #48
Yes `Xmader#9675`

[2020-11-09 08:24] harpingon commented on #5
If I compose and publish some music, and list it as a copyrighted work on musescore, presumably they'll send me some royalties, right? I mean, they wouldn't just allow their subscribers to take my work for free.

[2020-11-09 19:04] thegreatuploader opened #52 "MSCZ Failed, MusicXML stuck on processing"
Now, I don't know if this is just the WiFi I'm on or another factor. The score I'm trying to download (preferably in MSCZ format) is [https://musescore.com/user/16917646/scores/5490099](url).

Any help is appreciated.

[2020-11-09 23:00] thegreatuploader commented on #52
Update: was the WiFi

[2020-11-10 01:03] TheAlienDrew commented on #52
Might want to close the issue then, if it was your wifi.

[2020-11-10 01:23] #52 closed

[2020-11-12 03:05] Keweb opened #53 "Downlod .MIDI DONT WORK"
hello thks before you create this tools.

yesterday i can download midi extension, but now i cant . tkhs
![Capture](https://user-images.githubusercontent.com/18476093/98890423-e5af3c00-24d6-11eb-8294-68cfc0627fc4.JPG)

[2020-11-12 04:23] Xmader commented on #53
fixed in `v0.13.1`

[2020-11-12 04:23] #53 closed

[2020-11-12 04:45] Keweb commented on #53
thks sir, works now

[2020-11-12 08:59] BlessingSoftware7 commented on #51
![QQ图片20201112165850](https://user-images.githubusercontent.com/51953380/98918265-5cb0f880-2508-11eb-8586-2183a06dae43.png)
https://musescore.com/phoebevu/affections-touching-across-time-inuyasha-ost/piano-tutorial
you can try it,it is doesn t  work.

[2020-11-12 09:00] BlessingSoftware7 commented on #51
![QQ图片20201112165850](https://user-images.githubusercontent.com/51953380/98918410-8cf89700-2508-11eb-8bec-c6def8a5f96c.png)

[2020-11-12 10:06] Jerry790790 opened #54 "MIDI download doesn't seems to work or is patched"
![image](https://user-images.githubusercontent.com/63300088/98925880-87ec1580-2511-11eb-9090-e4d90b88a1c8.png)

as shown in the picture the MIDI download button changed to "Processing..." but even if you wait for a couple hours it doesn't download, is this my own problem? I was able to download normally yesterday. I tried reinstalling the script once 10 minutes ago and still don't work. please fix

[2020-11-12 14:14] Xmader commented on #54
If the `Download MIDI`, `Download MP3`, or `Download PDF` button does not work, use the corresponding buttons inside `Individual Parts` instead

[2020-11-12 14:48] Xmader commented on #51
https://github.com/Xmader/musescore-downloader/issues/54#issuecomment-726103849

[2020-11-12 16:28] badcodehash commented on #54
What do u mean corresponding buttons? 🤔 Where can I find those? Also I seem to have found a bypass to that with right click view page source. You can find a direct download link there.

[2020-11-12 18:45] Xmader commented on #54
Click `Individual Parts`, and click one of those

![image](https://user-images.githubusercontent.com/16057139/98982313-329e0d00-24ed-11eb-9a64-01ecd136cdcd.png)

The bypass has been patched.

[2020-11-12 22:16] badcodehash commented on #54
What the fuck those musescore guys are scummy. I cant download my midi files for 8 bit music any more D:

All jokes aside, keep up the good work. Ill support you as much as i can with this dmca thing.

[2020-11-12 22:20] novxa commented on #54
This works for me, thanks!

[2020-11-13 02:25] Jerry790790 commented on #54
Thanks for the fix. I was able to download now. tq

[2020-11-13 13:04] junlovecat opened #55 "Musescore Downloader not working anymore"
The latest musescore downloader is not working from now on. Can you update it?

[2020-11-13 13:32] Keweb commented on #55
yeh me to i cant download more

[2020-11-13 18:24] AeonCaptain opened #56 "It seems musescore has fixed (or broken idk) the plugin."
The plugin now no longer functions properly. The extra buttons seem to be missing everywhere, so they've done something to fix(?) it. May have something to do with the ui overhaul (but don't trust me on that, just looks like it is.)

[2020-11-13 20:56] RectangularObject opened #57 "Musescore Downloader does not work anymore."
![image](https://user-images.githubusercontent.com/26125768/99120348-baa51500-25c8-11eb-9cc5-9bd883edcd03.png)
Upon clicking the MIDI Download button, this error is sent to console.

[2020-11-13 23:51] Xmader commented on #57
fixed in `v0.15.2`

[2020-11-13 23:51] #57 closed

[2020-11-13 23:52] Xmader commented on #55
fixed in `v0.15.2`

[2020-11-13 23:52] #55 closed

[2020-11-14 06:29] Leon-Czajkowski commented on #56
0.15.3 was released a couple of hours ago, try updating it from [here](https://msdl.librescore.org/install.user.js).

[2020-11-14 06:30] Leon-Czajkowski commented on #56
0.15.3 was released a couple of hours ago, try updating it from [here](https://msdl.librescore.org/install.user.js).

[2020-11-14 17:39] Al3xX0r opened #58 "Not working even after 0.15.3 version"
Now the buttons appear but only Mscz works and not even midi or individual parts I want Midi and I can't get it.Goddamn you Musescore employees you want money and try to copyright a nice guy go f yourself

[2020-11-14 17:49] #58 closed

[2020-11-14 20:02] Lenakeiz commented on #56
Nope 0.15.3 does not seem to work either

[2020-11-14 20:34] Leon-Czajkowski commented on #56
The script has been updated to version 0.15.4 two hours ago, I await your comments to see how this new version behaves.

[2020-11-14 20:40] Lenakeiz commented on #56
I tried that version and it simply does not download the pdf. No error of any king. Just keep hanging on "Processing..."

[2020-11-15 01:51] Leon-Czajkowski commented on #56
Version 0.15.5 was uploaded a couple of hours ago, everything should be in order, I await your confirmation

[2020-11-15 06:19] Fackey commented on #56
It doesn't work for me either.

[2020-11-15 07:10] Xmader commented on #51
more example: https://musescore.com/oppen_heimer/hana-ni-bourei

[2020-11-15 14:20] Jerry790790 commented on #56
![image](https://user-images.githubusercontent.com/63300088/99187281-ad3a8700-2790-11eb-83f7-de0f3d486f8c.png)
As shown in the picture, I am able to download things normally, even using the normal [DOWNLOAD MIDI] button without going into individual parts.

I don't know about their problem.

[2020-11-15 14:24] Jerry790790 commented on #5
after all we just want to download stuff for free

[2020-11-16 03:21] AeonCaptain commented on #56
It seems the new update has fixed it, as the icons to download the music now appear.

[2020-11-16 03:21] #56 closed

[2020-11-16 23:20] Fackey opened #59 "Individual buttons aren't showing up for me"
Am I doing something wrong?

[2020-11-17 17:11] Xmader commented on #59
Can you post the screenshot?

[2020-11-17 17:49] Encode42 commented on #59
Fixed in latest release.

[2020-11-17 17:52] minhngoc25a commented on #29
I have something in mind. Since Musescore is released with the GNU license, why don't we contact GNU for license violations?
https://www.gnu.org/licenses/gpl-violation.html

[2020-11-17 19:59] Fackey commented on #59
Here's a screenshot.

[2020-11-17 20:01] Fackey commented on #59
Oops forgot the screen

[2020-11-17 20:04] Fackey commented on #59
Apparently I can't upload files (???) so here's an Imgur link
https://imgur.com/a/v8HHj3g

[2020-11-17 20:09] Xmader commented on #59
make sure you installed the latest version by https://msdl.librescore.org/install.user.js

[2020-11-17 20:33] Fackey commented on #59
Didn't work.

[2020-11-18 17:30] Chosaint opened #60 "Processing but no download"
Seems those pesky folks are at it again lol.

I want to say thank you for putting this out for the community to use. Some of us I know use the .midis from Musescore to play music in Final Fantasy 14. We do it for fun, and the enjoyment of others and enjoyment of music. Thank you for helping us spread joy in these stressful times :)

[2020-11-18 18:44] PeterNjeim commented on #60
Can confirm. However I can download .bin files from the mcsz button, and the Music XML and Individual Part buttons open an about:blank page that says "Processing". This may however, be due to me using Firefox for Android. The saddest part is that I discovered this yesterday, and it worked yesterday. Today it stopped working. Perfect timing Ultimate Guitar.

[2020-11-18 19:03] Xmader commented on #60
try again with the latest version

[2020-11-18 19:34] PeterNjeim commented on #60
Works now, thank you.

[2020-11-18 22:40] Chosaint commented on #60
Seems they are keeping up with your progress. Getting the processing error again with 15.8 now.

[2020-11-18 23:03] PeterNjeim commented on #60
Can confirm. Same exact characteristics as previously.

[2020-11-18 23:37] Xmader commented on #60
fixed in ` v0.15.9`

[2020-11-18 23:51] PeterNjeim commented on #60
I don't know how you have the patience to keep updating this several times per day, but you sir are truly the best

[2020-11-19 00:45] Chosaint commented on #60
For real man. Thank you. Sorry to spam this issue, but thank you from the bottom of my heart, and everyone else I know that uses it.

[2020-11-19 02:48] KnowinglyUnknown commented on #60
I cannot download mp3

[2020-11-19 02:56] KnowinglyUnknown commented on #60
I cannot download .mp3 files
It will have a pop up saying "processing..."

[2020-11-19 03:07] KnowinglyUnknown commented on #60
10 minutes and nothing happened

[2020-11-19 03:15] Xmader commented on #60
If it doesn't work, always try `Individual Parts`

[2020-11-19 04:08] KnowinglyUnknown commented on #60
There is no mp3

[2020-11-19 04:29] Xmader commented on #60
<https://en.wikipedia.org/wiki/FLAC>
<https://en.wikipedia.org/wiki/Ogg_Vorbis>

MP3 is a very old format.
Those file formats are chosen over MP3 since FLAC can provide better sound quality (lossless), and OGG Vorbis can provide better data compression.
The most important thing is that MP3 is not fully open-source and royalty-free.

[2020-11-19 04:41] KnowinglyUnknown commented on #60
I see, it just confuses me why there is an MP3 option but not used

[2020-11-19 05:02] PeterNjeim commented on #60
It is being used. If you can't tell or if you haven't taken the time to read the very issue thread you've replied to, MuseScore is currently updating their website to stop this script from working. Normally, all options should work, but it is very difficult to make everything work when the website is changing every few hours.

[2020-11-19 05:14] KnowinglyUnknown commented on #60
I see. Wow, they must hate you guys a lot XD

[2020-11-19 05:19] PeterNjeim commented on #60
Yup, they even sent a takedown notice. A musescore dev even responded to many complaints in an issue here. It got pretty heated. You can find the threads in talking about easily but I'm too tired to link them

[2020-11-19 06:45] Chosaint commented on #60
They really must see this as a threat. If only they got rid of the 20 per day limit, they'd probably get alot more people keeping their pro subs.

[2020-11-19 07:48] KnowinglyUnknown commented on #60
Did they just update?

[2020-11-19 10:46] biboy8k opened #61 "Cannot read file"
Hello, after I updated the new version and downloaded the MSCZ and then opened the print file it says Cannot read file. What should I do?

[2020-11-19 16:24] #60 closed

[2020-11-19 18:23] Xmader commented on #60
so everyone can download all MSCZ files, and create every mirror site.

[2020-11-20 11:08] IncredibilisMaster opened #62 "Can't download Midi, Individual parts just keep processing"
Been trying to download for a while, But when I click on "Individual Parts" , A new tab opens and it's stuck on processing, I tried with some other scores, but same result. I'm no tech geek, I even tried restarting the browser with a vpn on and tried again, but it's still stuck on processing. If someone could guide me if I'm doing something wrong, It would be great, Thank you.

[2020-11-20 11:19] KenjiRiki opened #63 "Random Music Sheet gets downloaded with Individual Parts"
I thought it was weird for a second when a song I wanted to play had Violin and Violincellos for the instruments when the Individual Parts are processed, but it turns out every song is like that. At least the ones I tried.

https://musescore.com/user/18022666/scores/6230718
https://musescore.com/user/18022666/scores/6161945

Neither of these gave me the right music sheet for me to use, and instead

[2020-11-20 11:39] IncredibilisMaster commented on #63
So wait, it's working fine for you? It's stuck on processing for more than an hour for me

[2020-11-20 11:44] KenjiRiki commented on #63
If by fine you mean not being able to use the sheet I got, then yeah. Technically it's "Fine".

Is Musescore screwing with the Music Sheets now?

[2020-11-20 11:48] IncredibilisMaster commented on #63
Idk man, I'm just trying to download a pdf or midi from the website, I click on " Individual Parts " But it's stuck on processing in a new tab.

[2020-11-20 13:15] RubenVerg opened #64 "(Funny) new way MuseScore is blocking us"
They just switched to "Please, disable TamperMonkey to access the website."
lol
Any alternative recommended?

[2020-11-20 13:25] JuiceTanWeb commented on #64
Same thing happened to me, but it seems like if you are quick enough, you can still download the score by clicking the button before it disappears.

[2020-11-20 14:47] IncredibilisMaster commented on #64
I used violentmonkey so far no blocks from musescore. But the script doesnt seem to work anymore? Idk, It's stuck on processing after clicking on Individual parts

[2020-11-20 14:57] einarmo commented on #64
They just detect the script and refuse to show the page, it is impossible to detect the userscript managers themselves. They could patch the API, but I suspect they haven't done that. Is there some way to "click" the buttons using the console?

[2020-11-20 15:04] Xmader commented on #64
The thing has nothing to do with TamperMonkey.

[2020-11-20 15:06] Xmader commented on #64
It actually detects this script.

[2020-11-20 15:14] dbarenholz commented on #64
Hi there! Same issue here using Firefox on Windows (downloaded the latest XPI)

[2020-11-20 15:14] Xmader commented on #64
Oh. I forgot to release the XPI of the latest version

[2020-11-20 15:50] #64 closed

[2020-11-20 16:34] PeterNjeim commented on #62
Musescore is constantly updating their website to stop this service from functioning. Xmader has been updating this script every few hours to keep up. You just gotta keep checking here for commits, and then update the script in tampermonkey.

[2020-11-20 16:46] PeterNjeim opened #65 "Use IPFS as fallback"
Hello sir,

I think it would save a lot of headaches if you could add a feature where if the download fails, it could fallback to getting mscz files from an IPFS mirror, and notify the user that it's a cached file and may not be up to date.

Possibly also consider backing up all file types, not just mcsz files on IPFS, as although you can convert from mcsz to the other file types, most people prob

[2020-11-20 17:02] Xmader commented on #64
It will expose a global variable which is very easy to be detected

[2020-11-20 17:45] badcodehash opened #66 "How to bypass the tampermonkey block?"
So, you see, as of lately this thing seems to just deadass block users with tampermonkey installed. Which to me seems like a huge dick move from the developers. Just today I was tryina download a midi file, but was greeted with the (you guessed it) "please disable tampermonkey to continue to the site" page.

What to do?

Regards, ur #1 simp. :)

[2020-11-20 17:58] Xmader commented on #66
just update to v0.15.14

[2020-11-20 18:04] badcodehash commented on #5
this one is by xcommander

This is actually a really good, viable  and competent solution. Listen to the dev.

I mean sure I guess. However have you ever considered that people who create accounts might just make an account and never touch it ever again?

It is an issue. The active userbase percieves it to be. And especially if someone went out of their way to make a bypass.

Have you tried addres

[2020-11-20 18:20] badcodehash commented on #66
poggers!!! Also regarding the Daniel dude that came here to bother you, seems like half the stuff he is saying is just useless words and pure demagogy. AFAIK he stopped responding, but it seems that he didnt read your original response to the first sent email.

[2020-11-20 18:42] RubenVerg commented on #64
Just curious, how does it detect the script itself?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Xmader <notifications@github.com>
Sent: Friday, November 20, 2020 6:02:18 PM
To: Xmader/musescore-downloader <musescore-downloader@noreply.github.com>
Cc: Ruben Vergani <RubenVerg@outlook.com>; Author <author@noreply.github.com>
Subject: Re: [Xmader/musescore-

[2020-11-20 19:39] Xmader commented on #64
The script loads unused webpack modules on the webpage

[2020-11-20 20:31] PeterNjeim commented on #65
Just realised you could automatically convert the mscz file to any other file type with webmscore. This would seriously make this script bulletproof

[2020-11-20 21:22] ExoticMarbles opened #67 "Cannot read property 'dataset' of undefined"
I took a peek at where the script broke and I got:

I hope that code helps you. It seems that the musescore people are really uppity about keeping public domain work to themselves.

[2020-11-21 06:40] Kenora-I opened #68 "JOIN THE LIBRESCORE DISCORD! -IMPORTANT"
please join the discord,thanks

[2020-11-21 06:40] Neiko-Real commented on #68
https://discord.gg/kTyx6nUjMv

[2020-11-21 16:59] Xerig opened #69 "UserScript no longer working on musescore!"
On Chrome none of the buttons appear on a musescore page when using TamperMonkey. The link to the chrome extension led me to a 404 not found error.

On Firefox a window comes up on a musescore page saying "Please disable TamperMonkey to view this site" even when using the Firefox extension instead of TamperMonkey.

Please could you suggest a way around this issue or provide a fix in the code. I wo

[2020-11-21 19:52] dinnerbird commented on #66
Definitely a reddit moment for sure.

[2020-11-21 20:28] Xecular commented on #69
I'm having the same issue on version 0.15.15 with Chrome and Tampermonkey. Trying to go to the webpage for a sheet just gives the disable Tampermonkey warning.

[2020-11-21 20:35] Xmader commented on #69
fixed in `v0.15.16`

[2020-11-21 20:36] #69 closed

[2020-11-21 21:17] Xecular opened #70 "Download buttons no longer appear [0.15.16]"
Using Tampermonkey and script version 0.15.16

Browsing the webpages for sheets does not show any download buttons except for the default one which tells you to buy a subscription.
![image](https://user-images.githubusercontent.com/32306390/99887755-0e40df80-2c15-11eb-87fb-6515bbed5c4c.png)

[2020-11-21 23:58] badcodehash commented on #66
@xmander yo do u have discord server

[2020-11-22 00:04] Xmader commented on #66
#68

[2020-11-22 02:26] PeterNjeim commented on #70
Works for me. Must be something on your end

[2020-11-22 02:49] Xecular commented on #70
Seems like it was a cookie issue on my end, after clearing my cookies and cache it appears to be working correctly

[2020-11-22 02:49] #70 closed

[2020-11-22 13:03] gonzalovozpito opened #71 "Only downloads half of the sheet"
I found a problem while downloading some sheets, and there is a point where the music notes stop and there are only silence notes:
![Captura](https://user-images.githubusercontent.com/37085829/99904474-5ae6f200-2ccb-11eb-978a-e3d28d046a81.PNG)

Here I send the PDF of how it should be:
[sparkle.pdf](https://github.com/Xmader/musescore-downloader/files/5579517/sparkle.pdf)

[2020-11-22 14:54] gonzalovozpito commented on #71
Here I leave the sheet link: https://musescore.com/user/3443166/scores/5910045

[2020-11-23 01:22] mmmmmmironic opened #72 "uhhhhh..."
![Ca11111pture](https://user-images.githubusercontent.com/74884469/99922792-52df8e80-2d6d-11eb-85f4-68e6d080a9b1.PNG)
i hate musescore for this

[2020-11-23 06:20] #66 closed

[2020-11-23 06:22] Xmader commented on #72
duplication #64

Please update to the latest version.

[2020-11-23 06:22] #72 closed

[2020-11-23 09:25] soliyell opened #73 "Disable Tampermonkey to access the website."
Disable Tampermonkey to access the website.
It doesn't work

[2020-11-23 09:28] soliyell commented on #73
version 0.15.14

[2020-11-23 14:10] gonzalovozpito commented on #73
It just got patched by musescore devs

[2020-11-23 16:42] EddiesTech commented on #5
@danieljray I don't know if you still work at Musescore or not, but I want to ask you something. In the UK at least, we have a set of exemptions for copyright legislation, as outlined here: https://www.gov.uk/guidance/exceptions-to-copyright
One of them is 'Teaching'. Most notably this line: 'performing, playing or showing copyright works in a school, university or other educational establishment

[2020-11-23 16:54] Xmader commented on #73
fixed in ` v0.15.17`

[2020-11-23 16:54] #73 closed

[2020-11-23 23:23] jeetee commented on #29
While I applaud your efforts and persistence, you should at least direct some of that effort to getting your facts straight.
The MuseScore code is dual licensed and all contributors sign a CLA which allows MuseScore to keep the mobile apps closed source (a partial requirement from Apple for example to be able to publish in their app store).

[2020-11-23 23:41] Xmader commented on #29
@jeetee Where can I find it?

[2020-11-23 23:51] jeetee commented on #29
musescore.org/cla

[2020-11-23 23:52] jeetee commented on #29
And indeed, everyone since the public launch in 2008 has singed it

[2020-11-24 00:02] Xmader commented on #29
The internet has memory: https://web.archive.org/web/20120426185810/musescore.org/cla

[2020-11-24 00:06] jeetee commented on #29
Correct, and it shows you the previous version of the CLA; your point being?

[2020-11-24 00:08] Xmader commented on #29
since 2008?

[2020-11-24 00:11] jeetee commented on #29
Before github there was sourceforge

[2020-11-24 00:13] Xmader commented on #29
I mean the starting year of the CLA. And the readme and the LICENSE file both state that there is only GPL, nothing states that it is dual licensed.

[2020-11-24 00:18] jeetee commented on #29
Of course, because the version made public is the GPL licensed version of the code.. That *is* how dual licensing works..
If you want to see the other version, feel free to try and setup a license deal with MuseScore; though I doubt they'll be willing to hand you one :-p

[2020-11-24 00:19] jeetee commented on #29
And all of this thus brings me again to my opening statement.

You love telling that MuseScore isn't doing their research on what they can legally enforce of you. But at the same time you fail to do the same research..

[2020-11-24 00:20] Martintug opened #74 "Disable Tampermonkey to access the website"
It worked perfectly last week, but today the website asks me to disable Tampermonkey to see the music sheets. Could you fix it or need I to do something?

I´ve read that a previously version worked (15.14). I tryed it, but it didn't work.

[2020-11-24 01:38] Martintug commented on #74
I updated the Userscript and now it works. It takes me some minutes to find the update, but I got it. Thanks, you can close this issue.

[2020-11-24 01:38] #74 closed

[2020-11-24 02:41] mqxao opened #75 "doesnt download anything, just stayed on "processing..."."
it does the same in incognito, and after i've cleared cookies and cache. have removed and reinstalled code but still does the same. :[
[some things edited out bcoz privacyyy]
was trying to dl this score >> https://musescore.com/user/35272338/scores/6460635
![image](https://user-images.githubusercontent.com/73699766/100040246-d8cd0980-2e41-11eb-867b-3e332c06c46e.png)

[2020-11-24 03:58] Xmader commented on #29
How many? How are they?
Can I see a copy of the CLA before [`Version 1.0 - April 1st 2011`](https://web.archive.org/web/20120426185810/musescore.org/cla), or how does it differ from version 1.0?

[2020-11-24 06:32] #62 closed

[2020-11-24 07:48] jeetee commented on #29
There is no version prior to 1.0 (nor were there mobile apps). Contributions made before that however are all covered by it when those contributors signed the v1.0 version.

And all contributors that signed it are listed there, right on that CLA page.
And all commits are available via soureforge svn history and git history, including the name of all contributors. You could even use a git blame on

[2020-11-24 16:50] FelixHappyGamer opened #77 ""Disable Tampermonkey to access this website" ???"
![imagen](https://user-images.githubusercontent.com/71792978/100125863-2d3dac80-2e75-11eb-9f22-23c75d89706c.png)

[2020-11-24 18:32] NoctIsFree commented on #77
I just got this same issue as well. I'm looking into how sites detect the extension and if there's any way to stop it. Musescore is getting way too greedy...

[2020-11-24 18:38] NoctIsFree commented on #77
Until a good fix comes out, I recommend using snipping tool or greenshot on each page, then save all them all to a folder with ascending  names. You can select all and use print to pdf and you have something very similar to the pdf downloader, although not as convenient.

[2020-11-24 18:46] miclol commented on #77
Have you guys updated to the latest version yet? ([Latest Version](https://msdl.librescore.org/install.user.js))

[2020-11-24 18:50] NoctIsFree commented on #77
Miclol, that got it, thanks! Although if they do continue seeking to block music behind a paywall, the method I mentioned earlier does work. I imagine, they'd even block the ability to access full scores soon.

[2020-11-24 19:02] NoctIsFree commented on #77
Nevermind, it only endlessly says processing now. Looking at the console, it appears the script is attempting to access a nonexistent site. Maybe musescore changed how they load files?

[2020-11-24 19:05] miclol commented on #77
What's the musescore link and what are you trying to download?

[2020-11-24 19:11] NoctIsFree commented on #77
https://musescore.com/user/206309/scores/194437

[2020-11-24 19:11] NoctIsFree commented on #77
pdf form

[2020-11-24 19:13] NoctIsFree commented on #77
mscz is the only option currently working on that score for me. Sorry for flooding the comments

[2020-11-24 19:20] miclol commented on #77
Hmm... I guess we need to wait for the next update then I guess...  ¯\_(ツ)_/¯

[2020-11-24 19:20] msteknoadam commented on #77
Yeah same here :/ This looks to be the issue, I don't get why it gets 500 error tho since I don't know the API and can't access documentation of the given address.
![opera_EFAbYXmA36](https://user-images.githubusercontent.com/40995274/100141232-23cb3900-2ea3-11eb-8313-b0f4200df5cd.png)

[2020-11-24 19:22] NoctIsFree commented on #77
In the meantime, try using greenshot's fixed capture region or use the method posted in the discord (pinned in issues)

[2020-11-24 23:16] miclol commented on #77
Woo! New update! Hopefully the probs fixed... ([Latest Version](https://msdl.librescore.org/install.user.js))

[2020-11-25 07:44] Xmader commented on #75
There is a [dedicated channel on Discord](https://discord.com/channels/774491656643674122/780520933101535232) to post those missing scores

[2020-11-25 20:59] RuralAnemone opened #78 "Not seeing download buttons"
Ever since a few updates ago I haven't been seeing the download buttons
Attached is a recording of my despair
[aaaaaaaaaaaaaaaaaaaaaaaa.zip](https://github.com/Xmader/musescore-downloader/files/5599243/aaaaaaaaaaaaaaaaaaaaaaaa.zip)

[2020-11-26 03:42] l4l4louislol opened #79 "Disable Tampermonkey"
They put extension detection i think, we might need other trigger to open it instead of trigger it on enter website

[2020-11-26 05:05] Xmader commented on #79
fixed in `v0.17.0`

[2020-11-26 05:05] #79 closed

[2020-11-26 05:05] Xmader commented on #78
fixed in `v0.17.0`

[2020-11-26 05:05] #78 closed

[2020-11-26 05:05] #77 closed

[2020-11-26 05:07] Xmader commented on #71
fixed

[2020-11-26 05:07] #71 closed

[2020-11-26 05:12] Xmader commented on #51
fixed

[2020-11-26 05:12] #51 closed

[2020-11-26 09:42] North-West-Wind commented on #79
I don't think that fixed it. I'm running on the latest release (4 hours ago) and they still tell me to disable tampermonkey.

[2020-11-26 18:06] Xmader commented on #79
fixed again

[2020-11-26 18:57] kent911t opened #80 "Output file directory with CLI"
No idea where the files are being saved

[2020-11-26 19:27] Xmader commented on #80
Probably in your home directory. If you are on Windows, it is `C:/Users/<username>`.

I will let people specify the destination direction in the next version.

[2020-11-26 20:18] Xmader commented on #80
You can specify the destination direction in ` v0.18.0`
(`npx msdl` always runs the latest version)

[2020-11-26 20:18] #80 closed

[2020-11-26 22:18] #65 closed

[2020-11-27 06:38] lincoln123987 opened #81 "unable to download midi files"
unable to download midi files, i updated upto to date, its still shows processing, but i dont get a download file, pls brother, fix it
![Capture](https://user-images.githubusercontent.com/73014587/100418709-3adb7800-30a9-11eb-84cd-429b2d4448c9.PNG)

[2020-11-27 15:50] FelixHappyGamer opened #82 "Have got latest most updated version, tried everything, yet this insists on appearing"
![imagen](https://user-images.githubusercontent.com/71792978/100466090-425e4980-30c8-11eb-8e22-d6a40eb729bb.png)

[2020-11-27 17:04] RuralAnemone commented on #78
k thanks -- also musescore blocked tampermonkey...?

[2020-11-27 17:04] RuralAnemone commented on #78
(I'm constantly updating this btw)

[2020-11-27 17:08] novxa commented on #82
This is really recent, looks like they gave up on their cease and desist letter :D

[2020-11-27 17:25] Xmader commented on #82
fixed in `v0.19.2`

[2020-11-27 17:54] Xmader commented on #78
fixed in `v0.19.2`

By the way, there is always an alternative method, see [CLI Usage](https://github.com/Xmader/musescore-downloader#cli-usage)

[2020-11-27 17:56] RuralAnemone commented on #78
Thanks

[2020-11-27 19:58] Xmader commented on #82
By the way, there is always an alternative method, see [CLI Usage](https://github.com/Xmader/musescore-downloader#cli-usage)

[2020-11-28 16:54] Xerig opened #83 "Score not in Dataset"
Does this program only work with older scores or more recent ones as well because I attempted to download a recent score (a week old) and using tampermonkey "Download Failed" appeared and using `npx msdl` it returned the error `score not in dataset`

Is this to do with the date published or did I just get unlucky as it has worked for other scores I attempted to download.

[2020-11-29 01:42] junlovecat opened #84 "not working"
musescore downloader is not working

[2020-11-29 03:03] PyeSoneAungMyintHtay opened #85 "not working"
yesterday, musescore-downloader was working. Today that is not working. I can't download now.

[2020-11-29 04:54] Xmader commented on #84
fixed in `0.19.4`

[2020-11-29 04:54] #84 closed

[2020-11-29 04:54] Xmader commented on #85
fixed in `0.19.4`

[2020-11-29 04:54] #85 closed

[2020-11-29 15:50] Pilzinsel64 opened #86 "No channels on Discord, even after 10 minutes waiting"
I joined the Discord server to ask about a problem (can't download any file format of [this](https://musescore.com/giuliom/life-for-my-mother/)) but even after 10 minutes there are only the information channels. Is that normal? How to get the other channels?
![grafik](https://user-images.githubusercontent.com/23138465/100546677-e5e36180-3262-11eb-943a-a0f2401da113.png)

[2020-11-29 19:18] Jabster28 commented on #86
Did you get a DM from a captcha bot?

[2020-11-29 21:26] Denkard opened #87 "Error "Disable Tampermonkey""
I think this is a commom issue, I found some closed topics about it. Do I have to report when occur or just wait for fixed ir? Thanks for the amazing content

[2020-11-29 21:41] Xmader commented on #87
Please always use the latest version.
By the way, there is an alternative method, see [CLI Usage](https://github.com/Xmader/musescore-downloader#cli-usage)

[2020-11-29 21:41] #87 closed

[2020-11-29 21:42] #82 closed

[2020-11-30 05:29] Pilzinsel64 commented on #86
No I didn't. But right now (after about 35h) I can see all other channels. Maybe someone did it manually. Thanks!

[2020-11-30 05:29] #86 closed

[2020-11-30 12:41] lincoln123987 opened #88 "score not in dataset"
i can download the old midi files with cmd, but the latest midi files, it shows score not in dataset, pls, fix it brother...
![score](https://user-images.githubusercontent.com/73014587/100611478-66739200-3337-11eb-886b-b424ba89c2f5.PNG)

[2020-11-30 13:48] psycho-neon opened #89 "Download Button Not Showing"
Just want to report that download buttons are not showing anymore due to obfuscated HTML tags used by musescore.

Obfuscated Tags:
https://prnt.sc/vsvv0a

Console Error:
https://prnt.sc/vsvvta

[2020-11-30 14:07] psycho-neon commented on #89
Quick Workaround, since I do not have time yet to investigate and make a pull request.

What I did is to embed the buttons on the `Log In` or `Upload` section instead on the download section. Not as good as it looks, but better than nothing.

[code]

Preview:
https://prnt.sc/vswbvp

[2020-11-30 14:39] #89 closed

[2020-11-30 15:43] Crotolamo opened #90 "Still a problem to download scores with .20"
Currently despite the update .20 musescore still does not allow downloading scores but the message to disable tamper monkey no longer appears

[2020-11-30 18:24] rk0ga opened #91 "I can't use"
Please, I'm trying to use this, but I couldn't. Can anyone help me, maybe I didn't configured correctly, 'cause I don't know how to use scripts and etc. Thanks

[2020-11-30 19:00] fadfdsaadfd commented on #90
me too.. It is not working at all.

[2020-11-30 19:07] VerMishelb commented on #91
Same for me. 20.0 with psycho-neon's fix code worked fine but 20.1 is not showing any buttons anywhere.

[2020-11-30 20:06] Xmader commented on #91
fixed in `v0.20.2`

[2020-11-30 20:06] #91 closed

[2020-11-30 20:06] Xmader commented on #90
fixed in `v0.20.2`

[2020-11-30 20:06] #90 closed

[2020-11-30 21:40] Kuki77 opened #92 "No playback, if userscript activated (0.20.3)"
With the current version of the userscript, the playback is not working.
Only deactivating the userscript helps.

[2020-12-01 11:57] fadfdsaadfd opened #93 "Disable Tampermonkey to access the website"
20.3 .... Disable Tampermonkey to access the website...............

[2020-12-01 18:41] joscabmar commented on #93
I tried with Greasemonkey and I could get around the blocker for Tampermonkey. But I am still having issues:

<img width="1680" alt="Screen Shot 2020-12-01 at 19 40 29" src="https://user-images.githubusercontent.com/6691911/100782815-41e9e980-340d-11eb-8be9-e490ef64c6b4.png">

[2020-12-01 19:11] Xmader commented on #93
fixed in `v0.20.5`

[2020-12-01 19:11] #93 closed

[2020-12-02 02:25] LargeSweater opened #94 "[commandline] 'function signature mismatch' with command 'msdl https://musescore.com/music/birdland'"
[code]

version info `msdl@0.1.1`

[2020-12-02 15:47] fadfdsaadfd opened #95 "it says "Disable Tampermonkey to access the website""
I hate musescore..

[2020-12-02 21:39] Xmader commented on #94
[webscore](https://github.com/LibreScore/webmscore) related issue

[2020-12-02 21:42] Xmader commented on #95
There is an alternative method, see [CLI Usage](https://github.com/Xmader/musescore-downloader#cli-usage)

[2020-12-03 07:43] KnowinglyUnknown opened #96 "Score not in dataset"
I cannot download this score, any clues why.
https://musescore.com/user/12456681/scores/6482670
![image](https://user-images.githubusercontent.com/64538745/100979048-3833c380-357e-11eb-94d2-eb1dde7a1a19.png)

[2020-12-03 14:58] SMLibrary opened #97 "Unable to download any sheet music from Musescore. Thanks!"

[2020-12-03 14:58] SMLibrary commented on #97
Unable to download any sheet music from Musescore. Thanks!

[2020-12-03 20:26] sturosenberg opened #98 "API request - connection refused in CLI"
when using the CLI, it finds the correct score ID and metadata but the download request fails with a connection refused error.

[2020-12-03 20:33] Xmader commented on #98
url?

[2020-12-03 20:49] sturosenberg commented on #98
https://musescore.com/user/34804253/scores/6264241

[2020-12-03 20:52] sturosenberg commented on #98
looks like my firewall was blocking the request. sorry for the trouble!

[2020-12-03 20:52] #98 closed

[2020-12-04 04:04] Jockeystrap commented on #97
I had the same problem as you but I played around with Tampermonkey Beta and figured out a simple solution to make it work.
Disable Tampermonkey before accessing the page with the sheet music you want, then enable Tampermonkey and CLICK REFRESH.
Download your file then disable Tampermonkey and CLICK REFRESH before leaving page to get another sheet, repeat the same steps for each file.
Works for me

[2020-12-04 04:07] Jockeystrap commented on #95
I had the same problem as you but I played around with Tampermonkey Beta and figured out a simple solution to make it work.
Disable Tampermonkey before accessing the page with the sheet music you want, then enable Tampermonkey and CLICK REFRESH.
Download your file then disable Tampermonkey and CLICK REFRESH before leaving page to get another sheet, repeat the same steps for each file.
Works for me

[2020-12-04 04:53] CaptainChicky commented on #5
Honestly, this is one of the most annoying things about MuseScore rn. Smh. Good work Xmader!

[2020-12-04 05:03] CaptainChicky commented on #42
Xmader you are doing literally god's work. I can't thank you enough for creating a project like this, and standing your ground in a legal argument. No doubt you will remain victorious in the end. I think youtube-dl getting taken down is a great example of how something like this that does not violate any copyright law whatsoever can be fought again and won. My best wishes to you and your projects!

[2020-12-04 10:09] SMLibrary commented on #97
Hi,

Many thanks for your comments.

In fact, I was going to try it and disabled the Greasemonkey Musescore downloader..... and it worked anyway! Strange! So, now it’s working with the disabled script, but I will keep in mind your advice.

Take care.

Jordi

De: Jockeystrap<mailto:notifications@github.com>
Enviat: divendres, 4 de desembre de 2020 5:04
Per a: Xmader/musescore-downloader<mailto:muse

[2020-12-04 10:22] sjkim04 commented on #97
Please close the issue if your problem is solved.

[2020-12-04 10:26] sjkim04 commented on #95
https://github.com/Xmader/musescore-downloader#cli-usage

[2020-12-04 12:14] SMLibrary commented on #97
It seems to work sometimes, sometimes not.

[2020-12-04 12:14] #97 closed

[2020-12-05 11:12] muttoni opened #99 "npx runtime failing (for different reasons, with same score)"
I tried twice:

[code]

[2020-12-05 22:41] Xmader commented on #99
make sure you are using Node.js >= 12

[2020-12-06 06:50] Xmader commented on #92
fixed in `v0.21.0`

[2020-12-06 06:50] #92 closed

[2020-12-06 08:15] #94 closed

[2020-12-06 08:15] Xmader commented on #81
fixed

[2020-12-06 08:15] #81 closed

[2020-12-06 08:17] Xmader commented on #67
fixed

[2020-12-06 08:17] #67 closed

[2020-12-06 08:17] #54 closed

[2020-12-06 08:19] Xmader commented on #83
Please report the URL to [Discord](https://discord.com/channels/774491656643674122/780520933101535232)

[2020-12-06 08:19] #83 closed

[2020-12-06 08:19] Xmader commented on #88
Please report the URL to [Discord](https://discord.com/channels/774491656643674122/780520933101535232)

[2020-12-06 08:19] #88 closed

[2020-12-06 08:20] Xmader commented on #96
Please report the URL to [Discord](https://discord.com/channels/774491656643674122/780520933101535232)

[2020-12-06 08:20] #96 closed

[2020-12-08 15:28] Nofontnl commented on #99
Tried with Node.js > 12
`request to https://ipfs.infura.io:5001/api/v0/block/stat?arg=/ipfs/QmQJjGbutzwtx49Bj4H4U94LeKaF6ojWsvcjtcCDrAezxS/1/1308281.mscz failed, reason: connect ECONNREFUSED 54.157.70.31:5001`
Got a ECOMNREFUSED error.

[2020-12-08 18:58] Xmader commented on #99
Check your internet connection, or try to visit the url in your browser

[2020-12-08 20:09] rugulous commented on #95
Hi,

I'm unfamiliar with the project structure, however I've found a workaround for this.

Right at the start of the script in Tampermonkey, just after the comment-y bits at the start, I've added the following JS code:

[code]

With this tweak I'm no longer seeing the Tampermonkey error. Sometimes the download buttons don't show, but clicking the Tampermonkey extension icon and then choosing Downl

[2020-12-10 07:56] letsG commented on #42
@sitdownmusescore Hi! Please tell how do You manage to learn more than 20 scores a day?

[2020-12-10 08:03] letsG commented on #42
Of course in concept of "FAIR USE! For the purposes of research and study only" declared by @Xmader

[2020-12-10 11:22] Nofontnl commented on #99
I have internet. Site can't be reached when link pasted in browser.

[2020-12-17 04:50] mynhs commented on #5
Thank you very much, @Xmader
Good work!

[2020-12-20 00:46] Xmader commented on #75
added https://ipfs.io/ipfs/QmZfSPmw9Pp1W3giGbwDNxgyujaVmoe7bt4ZP488BNErhn

[2020-12-20 00:46] #75 closed

[2020-12-20 13:30] Xmader commented on #63
PDF or MIDI should work now,
and the Individual Parts are fixed.

[2020-12-20 13:30] #63 closed

[2020-12-28 06:53] misaka00251 opened #101 "Download mscz failed using extension"
[Example](https://musescore.com/user/33272014/scores/6523220).

[code]

[2020-12-31 16:27] ClaudioAmato opened #102 "Button Blocks position"
### You can add this block of code into the DIV for a better visualization:

**Add**
[code]

**Remove**
[code]

**_AND_**

### As regards the @mediaquery when it changes the aspect of the page do this modification:
[code]

**Remove**
[code]

[2020-12-31 19:51] Xmader commented on #102
Thanks. It will be released in `v0.23.0`.

[2020-12-31 19:51] #102 closed

[2021-01-03 17:44] Fenway17 opened #105 "CLI cannot seem to download this sheet properly"
CLI cannot seem to download this sheet properly
https://musescore.com/bluephoenixpiano/warriors-league-of-legends
it leads to a different sheet everytime, which i guess is related to these sheets having the same code?

[2021-01-09 17:48] SealsRock12 commented on #99
It's most likely a problem on your end, I can download/connect to it just fine.

[2021-01-11 14:01] #99 closed

[2021-01-20 11:47] elofajnekonto opened #107 "MIDI download is not working"
When I try to download MIDI it takes me to other tab and the only thing it says  is "Processing..."
![ttt](https://user-images.githubusercontent.com/77729840/105170743-ad069100-5b1d-11eb-9234-144c2e7a23e0.png)
I tried using tampermonkey and CLI

[2021-01-20 16:34] Xmader commented on #107
fixed in `v0.23.5`

[2021-01-20 16:34] #107 closed

[2021-01-26 12:58] CrashPlayer opened #108 "Web extension Button Layout Issue"
The Download Buttons in the web extension go out of the scrollview, when you scroll down. I can't conntribute myself since I don't know JavaScript, but it seems, that you set the buttons' position based on the scroll position of that field. Wouldn't it be simpler to just replace the HTML-Element of the Download-Button and replace it with yours?

[2021-01-26 15:26] SkytAsul commented on #101
Another example of a more simple score: https://musescore.com/scores/from-the-king-eternal-monarch/if-only-881818441677784

[2021-01-26 15:49] Xmader commented on #108
Initially it did what you said, but it can be detected very easily, so I changed it to a floating shadow element.

[2021-01-26 15:56] #108 closed

[2021-01-26 16:09] Xmader commented on #101
Report them in [![Discord](https://img.shields.io/discord/774491656643674122?color=7289da&label=Discord&logo=discord)](https://discord.gg/DKu7cUZ4XQ) [`#dataset-bugs `](https://discord.com/channels/774491656643674122/780520933101535232)

[2021-02-06 05:15] philos2 commented on #101
The extension does not work for this page
https://musescore.com/scores/faure-gabriel/3-nocturnes-op33-524128962329414
Please if anyone can help.
Thank you very meuch

[2021-02-21 10:51] Kevin19281 opened #109 "Score not in dataset"
http://prntscr.com/102p8f0

[2021-02-22 19:27] Tibec commented on #109
Getting the same error too

[2021-02-23 05:40] Xmader commented on #109
https://github.com/Xmader/musescore-downloader/issues/101#issuecomment-767649847

[2021-02-23 05:41] Xmader commented on #109
download using this link https://ipfs.io/ipfs/QmRH1k3kEumpMUdjeDaHJE6F9mAKMzqK7th7QAEknuTsqx?filename=6558218.mscz

[2021-02-23 05:41] #109 closed

[2021-03-06 22:11] #42 closed

[2021-03-17 21:27] Jasper-Nelligan opened #111 "Score not in dataset error with npx msdl command"
Saw a previous closed issue about this but it still hasn't been fixed. This happened when I was trying to download https://musescore.com/user/3435661/scores/3470281 using the npx msdl command:

C:\Users\Jasper>npx msdl
npx: installed 58 in 100.409s
? Score URL or path to local MSCZ file:
  (starts with "https://(s.)musescore.com/" or local filepath ends with ".mscz") rig
  https://musescore.com/us

[2021-03-27 12:26] reydus commented on #111
Can confirm I got the same issue with: https://musescore.com/user/5060686/scores/2260706

[code]

[2021-03-29 16:20] Kyuuhachi opened #112 "Would it be possible to show more informative progress information?"
Just showing "Processing..." for 20 seconds isn't very informative; showing some kind of progress information would be nice.

[2021-04-04 17:42] SealsRock12 commented on #111
Please post in #dataset-bugs in the discord server. All support is currently being provided in the Discord server.

[2021-04-11 22:31] Otteko opened #114 "Fails to download specific song, might be edge case?"
While otherwise functioning normally on all songs, I can not download this specific song:
https://musescore.com/user/27131439/scores/6694363

Upon clicking "Download MSCZ" it tries for a second and then changes the text in the clickable box to "❌Download failed!"

No specific error message appears.

[2021-04-11 22:38] #114 closed

[2021-04-11 22:38] Otteko commented on #114
From the Librescore community Discord.

[2021-04-12 20:29] elmundomusical4 opened #115 "Error downloading"
Hi. With some scores, like this, I get an error when I try to download it. Here is the score: https://musescore.com/user/29306356/scores/5270875#
Thanks!

[2021-04-14 04:11] SealsRock12 commented on #115
Hello, all support is currently being provided in the discord server:
[![Discord](https://camo.githubusercontent.com/9e80098444f69aca9ee4a7f3b0352f95f20a628b0c37c8afc077d47044e580f6/68747470733a2f2f696d672e736869656c64732e696f2f646973636f72642f3737343439313635363634333637343132323f636f6c6f723d373238396461266c6162656c3d446973636f7264266c6f676f3d646973636f7264)](https://discord.gg/DKu7cUZ4XQ)

This

[2021-04-14 18:48] #115 closed

[2021-04-14 18:48] #111 closed

[2021-04-14 23:54] SealsRock12 opened #116 "Join The LibreScore Discord - Do Not Use Issues"
Support for `musescore-downloader`, `musescore-dataset`, and all LibreScore projects are being provided in the LibreScore Community Discord:

[![Discord](https://img.shields.io/discord/774491656643674122?color=7289da&label=Discord&logo=discord)](https://discord.gg/DKu7cUZ4XQ)

Do not expect a response to GitHub issues here (we may respond, but usually only with a discord link).

[2021-04-14 23:58] #116 closed

[2021-04-14 23:59] SealsRock12 commented on #116
It would be better if Xmader made the issue

[2021-05-01 16:18] joenot443 commented on #5
Thank you for your work @Xmader  - great stuff. It brings me true joy to see you refusing to back down from @danieljray's bullying.

[2021-05-06 09:15] WKL0423 opened #117 "What a great program! But it seems that the Individual part can't be down loaded now..."
I'm using it on edge and The main PDF&MP3's downloading still works but the XML and individual parts are always just progressing and nothing happens then... Please fix it! Appreciate! This program really helps!

[2021-05-08 05:57] Be-ing commented on #5
Let this story be a lesson to everyone interested in building media technology: do not build anything which requires the approval of media distribution industries. You will be responsible for enforcing their whims against the interests of your users. Are you a cop, or do you want to build cool technology?

[2021-05-08 06:17] psharma04 commented on #5
I've uploaded a copy of commit [6d93907df0360243a75d061b8998272b4e4aa00b](https://github.com/Xmader/musescore-downloader/commit/6d93907df0360243a75d061b8998272b4e4aa00b) to IPFS, you can find it on any IPFS gateway ([Cloudflare](https://cloudflare-ipfs.com/ipfs/QmYjKJothfqcw9fbYDPWqS6E8abbwbWJS1ohiZhvPyYDUV), [Infura](https://bafybeie2mnfffnbr46vwo5kfnokwc32v32drqjtys3u7zwc5hmqroiopii.ipfs.infura-

[2021-05-09 19:44] MrSkullium opened #118 "Issue with downloading mp3 and midi"
Whenever I go to a song and try to press either of those two buttons, it just refuses to show the download prompt on my device. If you know how to fix this, thanks. (I'm using the firefox addon for pc)

[2021-05-09 21:02] SMLibrary opened #119 "Not working for most of the Musescore files (nor PDf not Midi)"
Not working for most of the Musescore files (not PDf nor Midi).
For instance:
https://musescore.com/classicman/chopin-opus-28-no-4
https://musescore.com/user/122383/scores/169484
https://musescore.com/fakeyourdeath/schubert-impromptu-no-2-in-e-flat-major-op-90
https://musescore.com/fakeyourdeath/toccata-and-fugue-in-d-minor-bwv-565-johann-sebastian-bach-bach-toccata-and-fugue-in-d-minor-bwv-595-pi

[2021-05-10 16:42] SealsRock12 commented on #119
Hello, all technical support is currently being provided in the discord server:
[![Discord](https://camo.githubusercontent.com/9e80098444f69aca9ee4a7f3b0352f95f20a628b0c37c8afc077d47044e580f6/68747470733a2f2f696d672e736869656c64732e696f2f646973636f72642f3737343439313635363634333637343132323f636f6c6f723d373238396461266c6162656c3d446973636f7264266c6f676f3d646973636f7264)](https://discord.gg/DKu7cUZ4

[2021-05-10 16:55] PeterNjeim commented on #119
They said that the musescore files weren't working, and specifically not the pdf and midi files. That means they aren't in the dataset, but you just added them so it'll all be fixed tomorrow. With the latest update to the tampermonkey script, it will notify the user to send the url to the #dataset-bugs channel in the discord server, and hopefully these issues on github won't appear anymore.

[2021-05-10 16:57] PeterNjeim commented on #118
Do not use the Firefox Add-on, use either the Tampermonkey script or the CLI method. The Firefox and Chrome extensions are not always up-to-date. Follow the instructions for the Userscript section in the readme and uninstall the Firefox Add-on

[2021-05-10 17:01] PeterNjeim commented on #3
lol this is very late but to open in Musescore you just need to download the MSCZ file and open it in Musescore

[2021-05-11 17:04] PeterNjeim opened #121 "Tampermonkey script no longer works specifically in Google Chrome (not all Chromium-based browser)"
For some reason, when creating a new Image, `const d = new Image();`, the script fails at the next line `document.body.prepend(d)`, saying that `d` is undefined. This is very strange, and I don't even know if it's possible to fix, without Google Chrome reverting something they did.

[2021-05-11 21:04] #121 closed

[2021-05-12 22:52] domsson commented on #5
I just came here from Audacity and haven't read every single comment. However, I'd like to point something out about that original email:

_"to physically find you"_

Excuse me? Maybe I'm reading this wrong, but this seems like a threat to me? What in the actual...

[2021-05-15 02:46] #118 closed

[2021-05-18 11:38] aloiscochard commented on #42
Sure, maybe learning more than 20 scores per day sounds too much for you @letsG but it's peanuts for a machine learning model.

There is plenty of research in that field, just google for it and educate your self.

[2021-05-18 17:03] IFoundAnotherUsername commented on #29
Why wouldn't they?

[2021-05-18 21:46] jeetee commented on #29
Why would any company share their closed source software with a random person?

[2021-05-18 22:54] Xmader commented on #29
Because the software uses code from a GPL licensed library. it's a requirement per GPL license.

[2021-05-19 07:45] jeetee commented on #29
Oh please do me the curtesy of at least reading my responses; the closed source applications **do not** use any GPL licensed code.

It just so happens that the company that owns that closed source code (via the CLA) also chose to provide an open source GPL licensed version of it; and that open source version may or may not be identical to the close source version they use and own.

[2021-06-06 17:14] Xmader commented on #5
update on the Chrome extension

![Screenshot_2021-06-04](https://user-images.githubusercontent.com/16057139/120933663-1819c400-c6c9-11eb-8150-8630d39218a3.png)

[2021-06-09 09:53] CSharperMantle commented on #5
@Xmader, is it possible to change the extension's name to something like 'moosescore' or even 'librescore' to bypass the trademark infringe (at lease, partially)?

[2021-06-09 12:34] ljrk0 commented on #29
Although I agree in spirit, they *should* opensource the mobile app, they are truly not legally obliged to do so.

The reason is the CLA -- which is precisely why there was so much backlash against Audacity receiving a CLA as well.  The CLA was signed by all people who *ever* contributed to code to the *current* state of MuseScore.

The CLA says that the *ownership* of the code is signed over the

[2021-06-09 13:30] Xmader commented on #29
The point is, I don't believe the statement that all people who ever contributed signed the CLA is true.

[2021-06-09 13:31] ljrk0 commented on #29
Fair enough, then you need to find a contributor who hasn't signed it.

[2021-06-09 14:53] TerryPlays opened #123 "Issue when downloading pdf file"
When I download pdf it doesn't download and brings me to a 404 error link from musecore

[2021-06-09 18:08] kmk3 commented on #5
Indeed; unlike the copyright claim in the original post, this one seems to be
just about the trademark.  In that case, I suppose that the simplest way to
resolve it would be to change the extension name (and probably also the project
name) to something sufficiently different.

I think that everything else (including references to musescore.com) can remain
the same, as long as it's explicitly state

[2021-06-17 03:38] noonononnonnoo opened #124 "Download Buttons disappeared."
The download buttons that are usually found at the top right of the page to download the files just aren't appearing for me.

[2021-06-17 10:21] jeetee commented on #29
Then prove it; you have been given all the required information to do so. This is *exactly* my point about calling them out on not doing their copyright research and then doing exactly the same. Don't accuse based on your belief, accuse based on proof.

[2021-06-17 15:59] Xmader commented on #29
But how do you know that everyone has signed it? Are you an employee?On Jun. 17, 2021 06:22, Johan Temmerman ***@***.***> wrote:

The point is, I don't believe the statement that all people who ever contributed signed the CLA is true.

Then prove it; you have been given all the required information to do so. This is exactly my point about calling them out on not doing their copyright research and

[2021-06-17 16:01] Xmader commented on #29
We are kind of arguing whether God exists.On Jun. 17, 2021 11:58, Xmader ***@***.***> wrote:But how do you know that everyone has signed it? Are you an employee?On Jun. 17, 2021 06:22, Johan Temmerman ***@***.***> wrote:

The point is, I don't believe the statement that all people who ever contributed signed the CLA is true.

Then prove it; you have been given all the required information to do so

[2021-06-17 16:11] jeetee commented on #29
I am not an employee. I have occasionally contributed to MuseScore and my first PR remained not accepted until I agreed to the CLA.

I completely fail to understand how this is a "god exists argument"; the case in point here is that you claim not everyone that contributed to the current codebase has signed the CLA; all information for you to back up that claim is available (in contrast to god-like

[2021-06-17 16:38] Xmader commented on #29
Then, I've collected all users who has PR accepted through `https://api.github.com/repos/musescore/MuseScore/pulls?state=closed&per_page=100&page={0..80}`
And asked them (if I can find their email address) whether they signed the CLA.

If **any** of them (especially who contributed before 2019) answers no, then yours is a pointless false claim.

[2021-06-17 16:43] Xmader commented on #29
"god exists argument" means you can't prove **all** have signed CLA, but I can't effectively show if there is only and only one case who left out the CLA.

[2021-06-17 16:49] Xmader commented on #29
Your argument is only based on your personal experience, not the fact either.

[2021-06-17 16:59] jeetee commented on #29
Why not just run a git blame on the current sources (as you were advised)? Way less work and actually gives you to overview of everyone that contributed to the current state of the code.

But you **can**. You have git blame and the CLA available. No need to go into contacting everyone personally (but knock yourself out if you so choose).
Yes, you can back up your claim by finding someone that hasn

[2021-06-17 17:09] Xmader commented on #29
You are the one claiming that the code is covered by the CLA. Shouldn't you prove that?

[2021-06-17 20:08] jeetee commented on #29
Straight from the CLA page:

[2021-06-17 20:15] jeetee commented on #29
As for

I linked you to the actual CLA and keep pointing you to it **multiple times**. It exists, you can read it. It's existence *is* the proof that it.. well.. exists.

[2021-06-17 20:20] jeetee commented on #29
Or another one, here's a link to the git workflow document on their developers handbook: https://musescore.org/en/handbook/developers-handbook/finding-your-way-around/git-workflow#Make_a_Pull_Request_to_send_your_changes_to_MuseScore

Check the **Important** note at the end of the "Make a Pull Request" chapter (but since you keep showing a lack for following links, I'll quote it here for you):

[2021-06-17 20:21] jeetee commented on #29
All of these can be easily found in about 30 mins of browsing the contributor documentation; so again, do your research, get the facts, then come with proof.

[2021-06-17 20:42] Xmader commented on #29
If you just want to teach me how to prove my claims, then thank you for all endless effort in begging me to pick up your statements.

[2021-06-17 20:46] Xmader commented on #29
So, who are you?

[2021-06-17 21:27] Xmader commented on #29
Your only source of proof is on that tiny documentation. Is that verifiable?

[2021-06-17 21:37] Xmader commented on #29
As you said, don't rely on a single claim, come with proof.

[2021-06-17 21:43] jeetee commented on #29
With regards to my involvement with MuseScore, I'm an active forum member of .org and an [occasional contributor](https://github.com/musescore/MuseScore/pulls?page=1&q=is%3Apr+author%3Ajeetee). In that role I've had the opportunity to meet the original team during FOSDEM a couple of times and can call them my friends. It is through that friendship that I've gained more information about the histor

[2021-06-17 22:01] Xmader commented on #29
Please show me the list of people who signed the CLA. It's not on <https://musescore.org/en/cla>

Show me some.

because I know you are here.

<br>
By the way, the CLA says the company can do anything on the code. They did -- release it under GPL.

Where did the dual-licence come from? Any indication?

[2021-06-18 07:53] jeetee commented on #29
It is, if you're logged in with a free account. But since you once again fail to do research yourself:
[code]
If you consult that list on the CLA page itself you have the advantage of being able to click through on each on of them, leading straight to their .org profile. If they've not explicitly disabled it in their account preferences, then you'll also find a "contact me" button on there that al

[2021-06-21 16:28] jeetee commented on #29
There's a whole thread on the sourceforge mailing list about the CLA (and when it came into existence): https://sourceforge.net/p/mscore/mailman/mscore-developer/thread/201104011948.15750.ws@wschweer.de/#msg27295415

Just to quote one of the many relevant replies (which in itself is already a quote from the Linux User & Developer Magazine Issue 97), part of a reply given by Werner:

The CLA is exa

[2021-06-27 15:13] MuhammedDArduino opened #126 "only mscz file download works"
Help pls 😭

[2021-06-29 14:56] KyleBroflowski opened #127 "[REQUEST]Firefox android add-on support"
It would be great to have this among the already limited  android compatible  add-onz of firefox

[2021-07-04 10:16] MatteoGheza commented on #5
Any update on this?

[2021-07-06 00:47] joepie91 commented on #5
For the record, their trademark claim is frivolous. A trademark isn't a monopoly on the usage of a name; there are many circumstances ("interoperability with" being one of them) where it is legal to use a trademarked name without authorization from the trademark holder, so long as you don't imply that your thing is provided or endorsed by the trademark holder.

[2021-07-06 00:57] SealsRock12 commented on #126
Hello, all technical support is currently being provided in the discord server:
[![Discord](https://camo.githubusercontent.com/9e80098444f69aca9ee4a7f3b0352f95f20a628b0c37c8afc077d47044e580f6/68747470733a2f2f696d672e736869656c64732e696f2f646973636f72642f3737343439313635363634333637343132323f636f6c6f723d373238396461266c6162656c3d446973636f7264266c6f676f3d646973636f7264)](https://discord.gg/DKu7cUZ4

[2021-07-06 00:57] SealsRock12 commented on #124
Hello, all technical support is currently being provided in the discord server:
[![Discord](https://camo.githubusercontent.com/9e80098444f69aca9ee4a7f3b0352f95f20a628b0c37c8afc077d47044e580f6/68747470733a2f2f696d672e736869656c64732e696f2f646973636f72642f3737343439313635363634333637343132323f636f6c6f723d373238396461266c6162656c3d446973636f7264266c6f676f3d646973636f7264)](https://discord.gg/DKu7cUZ4

[2021-07-06 14:19] mtl73 opened #128 "I can't download some mscz. It says failed download. For example, this one. https://musescore.com/irelin/salut-d-amour-for-cello-piano"

[2021-07-12 00:53] SealsRock12 commented on #128
Hello, all technical support is currently being provided in the discord server:
[![Discord](https://camo.githubusercontent.com/9e80098444f69aca9ee4a7f3b0352f95f20a628b0c37c8afc077d47044e580f6/68747470733a2f2f696d672e736869656c64732e696f2f646973636f72642f3737343439313635363634333637343132323f636f6c6f723d373238396461266c6162656c3d446973636f7264266c6f676f3d646973636f7264)](https://discord.gg/DKu7cUZ4

[2021-07-18 13:00] kirwinia commented on #5
Hi,

We're musicians, free software advocates, software developers but, most importantly in this case, freelance journalists.

We'd love to write a piece (published online, for free, for all to read of course!) about this unacceptable behavior on the part of MuseScore and it's employees.

But before we do, we'd like to have the permission of those in this thread, such as @Xmader @marcan @joepie91

[2021-07-18 13:11] EddiesTech commented on #5
Hi. It'd be nice to know where the quotes would be published (e.g. the website they'll be on) before I agree to have my name and quote spread across some random site :)

[2021-07-18 13:17] IamRifki commented on #5
Feel free to quote me, I don't really care either way.

[2021-07-18 13:20] kirwinia commented on #5
Medium, primarily. Might also link the article via Twitter. It's not going to be published anywhere that's outside of my complete control. :)

[2021-07-18 13:31] Be-ing commented on #5
The [Tenacity](https://tenacityaudio.org/) developers may be interested to talk. Come introduce yourself in our Matrix room at #tenacity:libera.chat

Medium is not really in your control. If you want that, then host your own website.

[2021-07-18 13:34] kirwinia commented on #5
It's in my control in as much as there won't be any editing or changing of what we write. At most, something could get pulled down, in which case it *would* go up on my website, but that website is not really in a fit state for publishing on just now.

[2021-07-18 13:38] workedintheory commented on #5
Please contact press@mu.se

I can make time to discuss with you personally, even face-to-face in Seattle.

[2021-07-18 13:51] kirwinia commented on #5
Hello,

You will be contacted if and when the situation requires either an answer from Muse Group as to a question posed, or if a comment is sought on the article.

At this time, Muse Group's input is not required, nor would it be useful. The position of the company on these matters is quite clear to all, by way of comments here and also the suppression efforts that the company has engaged in.

Ag

[2021-07-18 13:57] EddiesTech commented on #5
I think he was just trying to be nice. He wouldn't have suggested an in-person chat or gone along with one if he knew you wouldn't be comfortable with it. Yes, some of the company's actions have been questionable, but their employees are still human and there is no need to hound them down for suggesting an in-person meetup. Please don't dehumanise these employees, they seem like nice reasonable pe

[2021-07-18 13:59] marcan commented on #5
Feel free to quote me.

[2021-07-18 14:05] workedintheory commented on #5
Then your intent is not actual journalism.

For reference: [Society of Professional Journalism Code of Ethics.](https://www.spj.org/ethicscode.asp)

_

It is not possible to meet those two essential requirements of journalistic ethics without seeking comment from Muse Group.

[2021-07-18 14:08] kirwinia commented on #5
@EddiesTech Every time I ended up writing about this kind of issue (the impetus to write was often due to dodgy practices or overbearing corporate interests) and the company in focus suddenly wanted to speak, especially if it's when we're barely getting going on a piece, and we've let them engage us in an e-mail conversation... it's immediately gone heavy on talking points and pushing their angle

[2021-07-18 14:15] kirwinia commented on #5
@workedintheory My intent is journalism free from even the appearance of a conflict of interest or the dissemination of propaganda and that does not endanger my status as an independent journalist.

I follow the IFJ's Global Charter of Ethics for Journalists.

And as I said before: I will contact Muse Group, at the appropriate time, with any questions I may have and will allow an opportunity for t

[2021-07-18 14:39] workedintheory commented on #5
If contacted only for comment on a published or finished piece rather than in the process of gathering fact, that is not actual journalism.

Your intent in that case would be to present a particular agenda, rather than seeking objective truth. That is the very definition of commentary, not journalism.

Journalistic ethics would require the article then be clearly labeled as commentary and also sta

[2021-07-18 14:52] processor286 commented on #5
The absolute irony of Muse Group lecturing on ethics. I just can't.

[2021-07-18 15:02] badcodehash commented on #5
hi @kirwinia, no problem. Feel free to quote me. I appreciate the effort.

[2021-07-18 15:02] Semisol commented on #5
👋 Heya.
From what I see and read, I am going to be honest this is bs.

1. If the publishers' rights are being violated, THEY should come and open a DMCA claim.
2. I feel like there was no intent on copyright violations, because they CAN do it doesn't mean they will. (this claim may not be correct, take this with a grain of salt)
3. Taking down the developers website is very stupid, and feels like

[2021-07-18 18:52] joepie91 commented on #5
@kirwinia I'm fine with being quoted, so long as it's not presented misleadingly of course :)

[2021-07-18 20:46] kirwinia commented on #5
Any  quoting that we do will simply display a screenshot of the quote, unedited, with all of the GitHub layout around each comment box and such. Quotes will be in their entirity and unblemished and only included in a relevant section, or the quote won't go in at all.

We're extremely rigidly ethical about our writing, which is why we're stuck as a freelance journalist. Working for someone else mea

[2021-07-18 20:48] EddiesTech commented on #5
Hey @kirwinia. You say "we". Who is "we" exactly? Will your article be written with others? I am happy for you to use my quote if you want.
Thanks :)

[2021-07-18 21:42] Semisol commented on #5
@kirwinia You may quote me, but please provide the post link here. Thanks for the clarification.

[2021-07-18 22:14] kirwinia commented on #5
Ah @EddiesTech no, sorry. That's a personal pronoun thing. Sorry for the confusion!

And okay, sure @Semisol :)

[2021-07-18 22:15] EddiesTech commented on #5
No problem @kirwinia. :)

[2021-07-19 09:30] RockyMM commented on #5
I am not sure if you ever went to any journalism school but this is *not* how journalism works. Your coverage of the story would be extremely biased if you did not ask both parties for comments and do not include them in your written piece. If you have only one side this is called propaganda - not journalism.

Even here in Serbia, where we have one of the most oppressive regimes regarding free wor

[2021-07-19 09:47] kirwinia commented on #5
@RockyMM "at this time".

[2021-07-19 10:54] workedintheory commented on #5
Thanks for injecting a more human element to this discussion. There is actually quite a bit more to this story here than most people realize.

I'll try to explain.

Wenzheng Tang (@Xmader) is actually violating the law with both repositories related to MuseScore, one of them a rather severe violation.

This repository violates [17 U.S. Code § 1201 - Circumvention of copyright protection systems](h

[2021-07-19 11:05] joepie91 commented on #5
You're specifically describing values-neutral journalism, which isn't the only form of journalism, and in fact there's an increasing amount of criticism aimed at it because it's trivially exploitable by bad actors. Far better is journalism that dives deep into a subject, considers all the viewpoints provided, *and then determines what the truth is*, whether or not that is a compromise between view

[2021-07-19 11:19] joepie91 commented on #5
@workedintheory I can't speak with certainty for the US, but in many other countries, for something to qualify as "circumvention of copyright protection" it requires that the protection measure is *effective* to begin with, and significant work and/or an uncommon approach is needed to get past it. Unless you can argue that that is the case here, which I doubt since this seems to be using a documen

[2021-07-19 11:19] workedintheory commented on #5
And that would require also interviewing me, or another representative of the subject in the process of developing the article.

As demonstrated in my most recent post here, there is quite a lot that external observers cannot see or know.

Without this perspective, it is not an accurate story.

[2021-07-19 11:20] joepie91 commented on #5
No, it wouldn't. Interviewing someone is only *one* way to get hold of information, and while it's often considered a good practice to at least hear out all parties, it's by no means a *hard requirement* for responsible journalism.

[2021-07-19 11:27] marcan commented on #5
No, it does not. It's in the first sentence:

A public API does not *effectively* control access to a work.

That repository is doing no such thing, as no copyrighted works are hosted as part of that repository. The copyrighted works are on IPFS, which is a distributed filesystem. The legality of [linking to infringing content](https://en.wikipedia.org/wiki/Digital_Millennium_Copyright_Act#Linking

[2021-07-19 11:37] workedintheory commented on #5
There is no public API.

It was discontinued as a condition of music publishers.

@Xmader was notified that it was discontinued and access was no longer authorized.

In addition, code was changed and this circumvention tool was repeatedly modified to circumvent these changes. This is seen in both the commit history, PR and discussions.

Again, the practice continued after informed that it was unau

[2021-07-19 11:45] marcan commented on #5
Both of which you'd have to prove, and the liability of which is completely unclear given the files were originally available through a public API and are not being hosted personally by him. Did your lawyers not advise you about the importance of details such as this?

Either way, deferring to threats to a person's personal safety in a discussion about copyright is utterly disgusting, and your con

[2021-07-19 11:52] SchizoDuckie commented on #5
I have never in my life read such a vile public threat to somebody's life on Github as this. Whoever wrote this is a despicable excuse for the human race.  Let's make this idiot famous.

[2021-07-19 12:08] klondi commented on #5
It's funny when people mess up copyright law so widely... Derivative works can be copyrighted, but the copyright will only apply to the changes and additions made over the original. And hey, I'm not saying this myself, actually it is the U.S. Copyright Office doing so! https://www.copyright.gov/circs/circ14.pdf

As a consequence: Rights to an arrangement of a copyrighted work do belong to the arra

[2021-07-19 12:11] AsuMagic commented on #5
How do you expect *anyone* from the communities you pretend to serve to trust you when you keep doing things like this?

Artists publishing arranges for music that is **not** owned by major music publishers in any way will not receive a dime, and yet we still need to pay for a subscription to download sheets, effectively feeding companies that do not have any single right to those sheets.
In fact,

[2021-07-19 12:41] migueldeicaza commented on #5
Screenshot of the threat that has now been deleted, so people coming here can understand the discussion:

https://twitter.com/marcan42/status/1417085393762099200?s=21

[2021-07-19 12:42] aveao commented on #5
An archive can also be reached here: https://web.archive.org/web/20210719115639if_/https://github.com/Xmader/musescore-downloader/issues/5#issuecomment-882450335

[2021-07-19 12:44] FergusInLondon commented on #5
Just to clarify @workedintheory, are you still speaking on behalf of Muse Group when you make statements like these?

[2021-07-19 12:44] processor286 commented on #5
I have original work on Musescore.com and never going to see a penny. It's a bit rich for Muse to be all about the copyright holders - but apparently so long as they're big, and stuff the little guy.  It's like they assume that every score uploaded must be of a big published song.

[2021-07-19 12:46] auscompgeek commented on #5
FYI comment edit history is public on GitHub. The comment hasn't been deleted, just click the `edited` dropdown on https://github.com/Xmader/musescore-downloader/issues/5#issuecomment-882450335. No archive necessary (yet).

[2021-07-19 12:52] sJJdGG commented on #5
You LITERALLY said: Comply with us or you're being sent to GULAG

And after seeing the backfire and missing the chance to say sorry you blame the internet for your actions???

Wish you some mindfulness🙏

[2021-07-19 12:54] kirwinia commented on #5
See? We don't need to interview anyone from MuseScore.

Everything we could possibly need to know about the ethos and moral basis of this organization has been publicly displayed in this thread of comments.

That was an out-and-out threat to have someone deported, detained and likely incarcerated without anything even close to the due process that exists in the US and other North American (and Eur

[2021-07-19 12:56] CSharperMantle commented on #5
Not really. Now history *content* can be deleted by the author, but the 'delete' action will leave a log entry too.

[2021-07-19 12:58] Semisol commented on #5
Yep.

[2021-07-19 13:25] Be-ing commented on #5
So who is going to fork MuseScore?

[2021-07-19 13:37] PookaMustard commented on #5
So let me get this straight. You know that if Xmader breaks the law, he may be deported. Worse yet, you know he may be deported to China, which you know won't take lightly to his other repo that you know is critical of its government.

So *you know* (or believe) that any action you take against Xmader is going to ruin his life majorly. Instead of realizing the grave danger you're putting him in fo

[2021-07-19 13:37] baybal commented on #5
Please spread this man's infamy: https://www.linkedin.com/in/danielray/

@workedintheory I believe Maxim Chistyakov is your main developer. Guessing by the name he is a Russian national. There are 16 Maxim Chistyakovs in databases of Russian mobile phone subscribers matching his age.

I googled a bit, and found a lot of his writing under his internet nickname (Ximich) highly acrimonious of Vlad Pu

[2021-07-19 13:39] PookaMustard commented on #5
Don't stoop to the same level as him.

[2021-07-19 13:43] gameshack commented on #5
Considering @workedintheory is the same person defending audacitys new privacy policy and telemetry, all this isn't even surprising. https://github.com/audacity/audacity/discussions/1225

[2021-07-19 13:46] j0lol commented on #5
Once again, unacceptable behaviour from Muse Group. Shame.

[2021-07-19 14:02] Be-ing commented on #5
I find it very ironic that @workedintheory is doing all this on behalf of those so-called "rights holders", presumably out of fear of their retribution on his business interests. Yet, as far as I know, not one of those so-called "rights holders" has said anything about this issue.

[2021-07-19 14:21] umutseven92 commented on #5
I urge everyone to [report](https://support.github.com/contact/report-abuse?category=report-abuse&report=workedintheory&report_type=user) @workedintheory to GH support for abuse.

[2021-07-19 14:37] SealsRock12 commented on #5
Won't this classify as "imminent physical harm to myself or another person because of content or behavior on GitHub"?

[2021-07-19 14:42] LER0ever commented on #5
That's the one I chose, and just got an automatic response from GH Support.

[code]

[2021-07-19 14:43] SealsRock12 commented on #5
I think that would always happen, though. They do need time to investigate it.

[2021-07-19 15:53] Fortfite commented on #5
it's good to know that people were right to be afraid for the future of audacity

[2021-07-19 16:24] devshgraphicsprogramming commented on #29
@Xmader the only way you can get anything out of this, if you find the one person who hasn't signed the CLA and haid their code accepted under GPL, and had that person sue for violations of GPL (cause everything after that is a derivative work).

Without that one copyright holder who's being harmed, you dont really have a way into the courtroom.

[2021-07-19 16:34] devshgraphicsprogramming commented on #5
@workedintheory threatening deportation to a country rife with Human Rights absuses (dem Uighurs) = you're a cunt.

[2021-07-19 16:37] Semisol commented on #5
Also.. asking for confirmation: wasn't the developers site taken down **after** the claim was sent?

[2021-07-19 17:17] rickbutton commented on #5
Highly encourage those who interpreted @workedintheory 's comment as a threat of violence to report them for abuse ([link here](https://github.com/contact/report-abuse?report=workedintheory+%28user%29)).

![image](https://user-images.githubusercontent.com/831623/126200372-0c7c15d5-f632-4458-aeb9-5d878079cc20.png)

[2021-07-19 17:35] krisu5 commented on #5
Done, FU @workedintheory.

[2021-07-19 18:11] imachug commented on #5
Dammit, @workedintheory, do you even realize what you're doing? Stop thinking about contracts and money at least for a minute and try to grasp what you have done!

Please, please stop treating people as cattle. Your customers are real people with their own problems. The community is not only the people who pay you. Your community does and can do much more than you can imagine. And now you're just

[2021-07-19 18:17] ainola commented on #5
This doesn't provide a whole lot of value in the context of this ticket, but this really rubbed me the wrong way:

This belittles the value of a kid being playing music they like on an oboe. Yeah, the Pirates of the Caribbean isn't high art but this sort of arrangement helps kids bridge the gap between the music they know and the music they may grow to love. First they may be enjoying movie music,

[2021-07-19 18:18] Voltra commented on #5
I didn't know who MuseGroup was until this thread. I use MuseScore (mainly for composition) and ***used*** Audacity quite frequently. Upon knowing that MuseGroup is indeed owner of MuseScore which as a service has been degrading itself for years, it is no surprise to me to find out about these exactions and the decline of Audacity. (F)OSS has never been for the greedy and I hope it stays that way.

[2021-07-19 18:36] marcan commented on #5
FWIW, Daniel has also commented on Twitter that the reason why MuseScore.com does not support Creative Commons-licensed music (which would just involve changing a database / web field for compositions) is because [he does not believe the CC music niche is sustainable](https://twitter.com/workedntheory/status/1413401088544358400). So this isn't the first time he's shown strict support for the big m

[2021-07-19 19:54] JQ555888 commented on #5
@workedintheory
Wtf. No seriously, wtf. What kind of horrible person are you? You and the organization you represented would’ve been absolutely cancelled by the Internet had you not deleted that blatantly racist and discriminatory comment.

At this point your problem’s not even threatening an individual. What good can it ever do to you by blackmailing someone publicly exploiting their nationality?

[2021-07-19 19:58] AeroNotix commented on #5
When you cannot innovate; litigate.

[2021-07-19 20:18] mogery commented on #5
[Here's an Internet Archive link of the horrible edited message.](https://web.archive.org/web/20210719115639if_/https://github.com/Xmader/musescore-downloader/issues/5#issuecomment-882450335)

[2021-07-19 21:05] briancullinan commented on #5
@imachug and @JQ555888 You might be surprised at how few rights an immigrant has, unfortunately. As someone with deepest sympathies for people trying to learn to better themselves living in another country. A non-native born can be deported at any time even if they are living in the US legally. I only know this because I have helped legalize a few of my close family and we went through the process

[2021-07-19 21:05] BenMcLean commented on #5
There could be a legit argument for requesting that software which violates the musescore.com's terms of use but which nevertheless does point users at musescore.com be changed to remove references to musescore.com. Seems a little petty, but OK, I could see that.

But threatening somebody with the evil Chinese government in order to get your way? That's evil. That's pure 100% Satanic, straight fro

[2021-07-19 21:37] 7adietri commented on #5
I have reported `@workedintheory` for harrassment.

[2021-07-19 22:46] neobenedict commented on #5
Just want to say you're a piece of shit. Go fuck yourself.

[2021-07-19 23:46] Xmader commented on #5
@kirwinia Feel free to quote me.

---

@workedintheory You could soon rebrand yourself as the Head of Tragedy, because the internet will "cancel" you and your MuseGroup upon the numerous personal harassments to me, which are completely unrelated to the copyright claim.

[2021-07-20 00:23] Be-ing commented on #5
That's a self-fulfilling prophecy. He's in a perfect position to make it easier for musicians to fairly monetize Creative Commons licensed music but chosen to ignore that business opportunity out of close mindedness and instead pisses people off more every time he comments.

[2021-07-20 00:37] cadadr commented on #5
Me as well. Also sent a link to this issue to to Ars Technica. Their coverage of the telemetry issue was shitty, but still. I don't know much tech news outlets, those who know some, preferably with some integrity (unlike Ars Technica), give your favourite ones a heads up.

These people want to suck the blood out of both musicians and FOSS communities. :middle_finger:

[2021-07-20 00:44] Semisol commented on #5
I am actually not able to comprehend how they think they are fine saying essentially this:
(this is MY personal interpretation of the message)
You did a thing that "infringes" on other record companies' rights. Please remove this, because it is against our corporate interest, or **we** will take action on the companies' behalf. Oh look! You are vulnerable too, so we will tell you that you may be d

[2021-07-20 00:46] Semisol commented on #5
And small thing, I got a response around 7 hours ago.
![image](https://user-images.githubusercontent.com/45574030/126245389-60dace7f-f634-4660-b817-be89dfdc4324.png)

[2021-07-20 00:50] cadadr commented on #5
@Semisol we've all seen a very high profile case with youtube-dl, haven't we? Did the company or whatever throw a tantrum or say anything publicly? They just sent the DMCA, the repo was taken down, and later restored. Here they either can't afford lawyers or they so utterly lack any legal ground, even worse than in the youtube-dl case, that they resort to threats **in public**.

[2021-07-20 00:51] Semisol commented on #5
Yep. I am sort of going to be honest it is 95% like that case.

[2021-07-20 00:51] Be-ing commented on #5
That is a generic response GitHub moderation says to any report.

[2021-07-20 00:52] Semisol commented on #5
But it must mean at least someone was assigned, I know it is automated.

[2021-07-20 00:53] Be-ing commented on #5
Or don't talk to their lawyers before talking, ignore their lawyers, or have incompetent lawyers. They sure are incompetent at public relations.

[2021-07-20 01:06] maxymax13 commented on #5
@workedintheory pretty lame bro

[2021-07-20 01:34] kirwinia commented on #5
Reported :)

[2021-07-20 02:31] briancullinan commented on #5
Let us not forget this guy https://www.eurogamer.net/articles/2013-01-26-fox-shamelessly-steals-still-alive-composers-song-for-glee

Jonathan Coulton. Here's how copyright law works in the US. A creative person publishes their work online, they give up their rights to the publishing company be it YouTube or MuseScore, which means for purposes or reuse, the thief only needs to defer to the publishi

[2021-07-20 03:00] summer-espresso commented on #5
Reported.

[2021-07-20 03:24] L33Tech commented on #5
@workedintheory This is the most disgusting thing I've ever seen on GitHub. You should be ashamed of yourself, and take the time to google a little thing called the Streisand effect. Ignoring the entire community with Audacity was bad enough, but threatening a developer is way past any reasonable line. You are digging a hole for yourself and Muse Group, but with a nuclear backhoe instead of a shov

[2021-07-20 04:52] chris-hatton commented on #5
@workedintheory MuseScore concerns aside; to hold the spectre of political violence over someones head like that is utterly deplorable.  Worst thing I've ever seen on GitHub, or witnessed first-hand anywhere, for some time.  Shame on you.

[2021-07-20 05:30] agent255 commented on #5
@workedintheory You deserve to be banned from github and fired from muse

[2021-07-20 06:24] CoWinkKeyDinkInc commented on #5
@workedintheory People's lives shouldn't be ruined over sheet music, that you yourself don't even own!

[2021-07-20 08:28] JPlexer commented on #5
@workedintheory I really hope you get fired/ get thrown out of Muse Group. Your Behavior is unacceptable and should not be tolerated at Muse Group!

[2021-07-20 08:33] briancullinan commented on #5
@Xmader I don't know your exact situation, but if you would like help applying for citizenship, I'd be happy to help. Civil disputes are hardly grounds for removal.

[2021-07-20 08:53] CSharperMantle commented on #5
Well don't talk things as bad as him.

[2021-07-20 09:04] mayukhnair commented on #5
@Xmader, atleast from their GitHub profile, seems to be a national of the *Republic of China (Taiwan)*, not the People's Republic of China (Mainland China). Unlike the latter, I don't think ROC will take any action whatsoever (and PRC doesn't deal with ROC nationals not on its territory either) unless they committed a crime under Taiwanese law, but if that were the case it would be a legal notice

[2021-07-20 10:30] kstenerud commented on #5
![2zyxp4](https://user-images.githubusercontent.com/245857/126309222-06854c74-faa7-4bf2-8527-439ae8210d67.jpg)

[2021-07-20 10:37] dic1911 commented on #5
@workedintheory
You simply made yourself one of the worst people I ever seen on GitHub.
Good luck with all those abuse report.

[2021-07-20 10:57] Odyssey346 commented on #5
@workedintheory Please leave FOSS/open source immediately. None of us accept your behavior in our community.

[2021-07-20 10:59] DoublePoly commented on #5
@workedintheory I never heard of MuseScore until I randomly found this issue on GitHub. Your behaviour is absolutely disgusting. Saying "Wow you're having a great life now, it'd be a _real_ shame if you lost it" or things like that is NOT acceptable. Here is what he said:

Please, like @Odyssey346 said, leave FOSS immediately.

[2021-07-20 11:01] DoublePoly commented on #5
Fuck 学习强国 is a cheating program. Not supporting cheating (it means Fuck learning power) but surely that isn't _illegal?_

[2021-07-20 11:02] DoublePoly commented on #5
Your API security is worse than sending passwords over http and storing them as plain text. In fact, you probably could do this using a rest client. The extension merely serves as a easy to use shortcut.

[2021-07-20 12:21] Ornias1993 commented on #5
Serieusly, can IT folk without legal education stop giving legal analysis?!
(and stop deleting rants from github)

- a DMCA notice is NOT formally enough to even be considered proof in any western jurisdiction of breaking "the law", it's just a certain party their opinion (in good faith etcetcetc) that you broke the law.
- A DMCA civil lawsuits (if someone doesn't remove the content) also doesn't

[2021-07-20 12:26] 7adietri commented on #5
LOL, so `@brokeninreality` didn't even check if Xmader was actually criticising the Chinese government before writing his Gestapo fan fiction?

[2021-07-20 12:36] chris-hatton commented on #5
@Ornias1993 Thanks for these apparent clarifications about DMCA law; although it strikes me that **a)** I didn't see anyone else claiming to give a legal analysis (as you said) and **b)** you **did** make a legal analysis without sharing your own qualification to do so.  Could I kindly suggest that you share that with us?  Also, just because a threat is ultimately empty does not weaken its ability

[2021-07-20 12:37] Ornias1993 commented on #5
Thats not what is actually in your terms of use.
I suggest starting to reading those again and hiring some new laywers if they told you it did.

There is no transfer of rights nor rights to represent granted in that document. (If that would be even legal in this format in Belgium)

Also: Breaking ToS, (which people copying content would be doing) is not always DMCA notice-and-takedown-able. I'm no

[2021-07-20 12:48] Ornias1993 commented on #5
**a)** I didn't see anyone else claiming to give a legal analysis

@workedintheory has since deleted his long rant in which he analyses which legal steps and consequences he could take (which was the thing I talked about.

No, this is not about me. Nor am I going to make it about me.
I don't really care about qualifications honestly, unless people start to give completely bullshit "advice" like st

[2021-07-20 12:51] Ornias1993 commented on #5
Guess a bad relation is also a relation?

[2021-07-20 13:01] Ornias1993 commented on #5
I guess completely trashing the user experience and trust publically, is quite transparent

Untill now you never proven you actually have a right to represent ANY copyrightholder. the DMCA doesn't allow you to arbitrarily report supposed copyright infringements of others, it only gives that right to actual represenatives of the copyrightholder.

You can stop the corporse BS.
"collaborate" is not t

[2021-07-20 13:05] Pablo1107 commented on #5
Actually it's called "Fuck-XueXiQiangGuo" which references [Xuexi Qiangguo](https://en.wikipedia.org/wiki/Xuexi_Qiangguo) which seems to be an app financed by the Chinese goverment to "teach" about Xi Jinping Thought or some brainwash like that.

[2021-07-20 13:06] lc-nyovchev commented on #5
I am a bit late on the bandwagon, it's the first time I hear of musescore, but I have seen something similar happen with the DMCA takedown attempts of youtube-dl, so I am gonna share my thoughts below.

@Xmader you are an absolute asset to the community, I believe you are totally in the right here.

I think there is a lot of parallel between what happened with the terribly unsuccessful DMCA takedo

[2021-07-20 13:19] xbrq commented on #5
@workedintheory

https://user-images.githubusercontent.com/69594357/126330990-d8597c61-0e97-4968-b80e-ffc00ce8054d.mp4

[2021-07-20 15:04] rubyFeedback commented on #5
Guys, I think it is pointless at that point in time to waste more time with the muse-trolls. That boat has sailed.

It is more important now to see that we have truly free, non-sniffing and non-spying alternatives to the muse-big-brother-sniffers.

Quality is ultimately where the "real" fight will be, because the muse guys will fail if they offer garbage quality;
same with the true open source mov

[2021-07-20 15:52] Ornias1993 commented on #5
We can also start writhing to every small copyright holder who ever send their works to them, to ask if they ever accepted that this company would start asking money to allow others to download their work. If not they should DMCA them en masse.

If they never got permission to commercialise these works, they are the copyright violator here.

[2021-07-20 15:58] overengineer commented on #5
In memory of Aaron Swartz...

[2021-07-20 16:36] briancullinan commented on #5
@Ornias1993 do you have a legal education or are you just doing the same thing you asked other people not to do?

[2021-07-20 16:39] jaduncan commented on #5
Genuinely disgusting behaviour, @workedintheory. I hope you feel truly ashamed.

[2021-07-20 17:32] ainola commented on #5
I disagree. Mindshare is important, and even if MuseScore and audacity
have successful forks there is significant difficulty with the original
project kicking around, even if it is inferior. OpenOffice, for example,
is still the only free office suite to many; IIRC downloads counts are
neck and neck despite the Apache foundation's gross incompetence.

The best scenario, though increasingly unlikel

[2021-07-20 17:32] 403-Fruit commented on #5
@workedintheory Christ you'd think a "Director of Strategy" would have at least a little bit of self-awareness. What exactly is the strategy behind trying to convince a GitHub issue thread that your DMCA request is _'actually like totally cool man'_?

Did you really think that people would buy the absolute nonsense claim that these two exact quotes from your company are consistent with each other?

[2021-07-20 17:34] Semisol commented on #5
I think a few people have IPFS copies and people have local clones.

[2021-07-20 19:02] SpheeresX commented on #5
**Unofficial Mirrors:**
**[Self-hosted GitLab 1 - GitGud]** - https://gitgud.io/no-muse/musescore-downloader
**[Gitea 1 - Gitdab]** - https://gitdab.com/no-muse/musescore-downloader
**[Gitea 2 - Disroot Git]** - https://git.disroot.org/no-muse/musescore-downloader

Gonna add more later. Fuck Muse.

[2021-07-20 19:14] kiedtl commented on #5
@Xmader This thread seems to be attracting a lot of charming people, and it's my humble opinion that little more constructive discussion can take place here. I would advise locking the thread for now.

[2021-07-20 19:42] willfe commented on #5
"Shut it down!" Heaven forbid people express disgust and frustration at such astonishingly nasty corporate behavior. Nah, you're right, best to just sweep it under the rug and forget about it. I'm sure it'll all work out if everyone just stops paying attention.

[2021-07-20 19:47] Ornias1993 commented on #5
It's not about me, nor should it be.
And No, I donnot say so because I've no legal education and donnot want to admit it. I say so because it's irrelevant.

[2021-07-20 19:48] Semisol commented on #5
IPFS: (at 8e3dd94c128c5a99364846e72612b8e7f0cee3ba, at the time of writing master HEAD)
`QmYjPbXvpsBive9vHFo9Jzbfh2EcVxa3y4kc3y8AJzNrH5` is the bare repo (make a new dir, put that folder as `.git`, `git config --local --bool core.bare false` then `git reset --hard`)

[2021-07-20 19:52] kiedtl commented on #5
@willfe I'm referring to the trolls and useless messages that are beginning to become more frequent here, not the other messages. I do not condone MuseScore's behaviour and I do hope that word gets out about this. I do not think we can move forward by continuing to speak here, however. Apologies for not being clear.

[2021-07-20 20:35] willfe commented on #5
@kiedtl Ah, I see. Apologies for my snarky comment.

[2021-07-20 20:42] SealsRock12 commented on #5
We already have mirrors and IPFS:
https://github.com/musescore/MuseScore/tree/20298e5
https://github.com/github/dmca/tree/20298e5
https://ipfs.io/ipns/msdl.librescore.org

[2021-07-20 20:43] Semisol commented on #5
How did the mirrors happen?

[2021-07-20 20:46] SealsRock12 commented on #5
https://github.com/Xmader/dmca/blob/sync/.github/workflows/update.yml

[2021-07-20 20:47] Semisol commented on #5
Ah okay.

[2021-07-20 21:11] briancullinan commented on #5
I meant copies of the user contributed music scores that MuseScore is profiteering off of.

[2021-07-20 21:25] SealsRock12 opened #130 "MuseScore's Official Response to @workedintheory's Comment"
After [@workedintheory's threat to Xmader](https://web.archive.org/web/20210719115639if_/https://github.com/Xmader/musescore-downloader/issues/5#issuecomment-882450335), an anonymous MuseScore user shared with me the following statement from [David](https://musescore.com/mandelstamdavid), the "Chief Product Officer at Musescore BVBA":

[2021-07-20 21:59] jneen commented on #130
Would you care to elaborate on this?

[2021-07-20 22:33] TheSignIsASubtleJoke commented on #5
@workedintheory Just a warning, The people who stabbed @cookiengineer are discussing attacking you.

[2021-07-20 22:37] SealsRock12 commented on #5
Wait what? Please don't attack anyone. People shouldn't be so hypocritical. Does attacking the people who are attacking you make you any better?

[2021-07-20 22:49] SchizoDuckie commented on #130
Aah yes, doubling down on stupid. They're all in I see.

[2021-07-20 22:57] cadadr commented on #130
Confirms also that this is a company policy and not one rogue employee or two like some wish to portray the thing.

[2021-07-20 23:37] blooalien commented on #5
Totally!  WTF?  Some days it feels as if humanity's a completely "off the rails" slow motion train-wreck…

[2021-07-21 00:12] EddiesTech commented on #5
The Register have published an article regarding this GitHub Issue, including statements from both @Xmader and @workedintheory
https://www.theregister.com/2021/07/20/muse_group_deportation_threat/
Note: I simply found this article, I have no affiliation with The Register

[2021-07-21 00:40] willfe commented on #5
That never happened (either the mythical "stabbing" or this supposed evil scheming to attack a stranger). Get help, lad.

[2021-07-21 01:31] chris-hatton commented on #5
@TheSignIsASubtleJoke Your own threat is just as unwelcome as the one that started this.
Isn't it clear enough from reading this thread; that behaviour is not welcome in our community in any shape or form?  Reported.

[2021-07-21 02:46] j0lol commented on #5
Hey um, just a question. From what it seems, musescore-downloader is not as much a problem as [musescore-dataset](https://github.com/Xmader/musescore-dataset) is. Is re-uploading this dataset legal? It looks like their API is no longer public:
![image](https://user-images.githubusercontent.com/24716467/126421998-5c6fd480-b0aa-4892-9435-ead0542fba4e.png)

I havent seen this discussed much in this i

[2021-07-21 03:02] briancullinan commented on #5
There is nothing in musescore-dataset except for a readme, how is a readme
file illegal?

On Tue, Jul 20, 2021, 19:46 jo! ***@***.***> wrote:

[2021-07-21 03:05] j0lol commented on #5
I'm more talking about the act of obtaining copyrighted works (apparently on a regular basis) and reuploading them to IPFS.

[2021-07-21 03:11] Semisol commented on #5
I do think that it is not right if it is copyrighted. But this does
not **in any shape or form** entitle Muse Group staff to send
essentially death threats/blackmail.
And it does not mean that the main downloader repo is infringing, as it
feels more like the youtube-dl case.

[2021-07-21 03:18] aidswidjaja commented on #5
@workedintheory This isn't right. There's nothing legally wrong with defending your IP. So please do it the right way and file a DMCA with GitHub. Don't threaten to deport someone to somewhere where you'll know they won't be treated nicely, just over a copyright issue. That's not right at all.

There's nothing ok about casually mentioning someone's political or residency status to a point where yo

[2021-07-21 03:19] marcan commented on #5
That is a very complicated legal question. The scores in question were originally publicly available. Some of them are scores of compositions licensed under non-commercial terms; for those, in fact, MuseScore's paywalled distribution is copyright infringement, while uploading them to IPFS would not be. There is no single correct answer.

But the fact of the matter is the scores are now on IPFS, an

[2021-07-21 03:32] j0lol commented on #5
However, we know *some* scores are licensed right? Meaning copyright infringement has happened somewhere.

@aidswidjaja

They have tried.
![image](https://user-images.githubusercontent.com/24716467/126426277-40736bd3-5ea8-464c-a7ab-90a9298dc95a.png)
![image](https://user-images.githubusercontent.com/24716467/126426333-e9882029-df8d-4d0c-90e5-46b3a5494a30.png)

[2021-07-21 03:35] marcan commented on #5
Yes; MuseScore say some scores (they don't say which) are copyrighted and licensed through their partners; their distribution over IPFS would likely be copyright infringement at some point. I believe them, but we have no way to confirm that. I've also identified [over 1000 scores](https://musescore.com/artist/zun-187697) of original compositions whose copyright owner I am certain is *not* licensin

[2021-07-21 03:38] j0lol commented on #5
Huh. You should probably email Muse about this.

[2021-07-21 03:40] Semisol commented on #5
My opinions are:
The dataset is not fine due to infringing content
The way @workedintheory blackmails/death threats @Xmader is UNACCEPTABLE
The downloader is in a gray area as it can be used for infringement but also not
The supposed paywalling of content which is non-commercial is not fine

[2021-07-21 03:45] j0lol commented on #5
![image](https://user-images.githubusercontent.com/24716467/126427366-c12b4c45-ffec-4a92-8b6a-544c3cfd6a98.png)
Did ZUN upload scores to musescore??

[2021-07-21 04:03] marcan commented on #5
Ray and the other MuseScore folks continue to deny the existence of a vast catalog of copyrighted songs on their site which they do *not* have licenses to, including almost anything by indie and Creative Commons artists. They never talk about those.

[2021-07-21 04:19] Semisol commented on #5
Interesting...

[2021-07-21 04:22] aidswidjaja commented on #5
@j0lol

I think taking a look at the youtube-dl / GitHub / RIAA case would be interesting since there can be many comparisons drawn with this one here. Obviously youtube-dl's case had far less legal merit than the one Musescore is presenting assuming all their claims were true.

IANAL but even in a non-DMCA request directly to Xmader, I think the legal aspects needs to be clear. Usually, any taked

[2021-07-21 04:45] briancullinan commented on #5
Right, but I took a look at it, and I barely understood where to get the
copyrighted material. Also, it's been discussed that many of the authors
gave up those right when they submitted the content, and some of the
content was copyrighted by someone else when MuseScore started distributing
it for a fee. This is pretty niche and it's used for data science, I think
this falls closer to fair use unle

[2021-07-21 05:56] j0lol commented on #5
Right, I had no idea this Musescore issue was so nuanced. It looks like if Muse were to take this issue to court they would have a lot to answer for themselves...

[2021-07-21 06:49] EddiesTech commented on #5
Another article I found on this
https://arstechnica.com/gadgets/2021/07/audacitys-new-owner-is-in-another-fight-with-the-open-source-community/

[2021-07-21 07:22] processor286 commented on #5
ARS article, brought to you by the publicity department of Muse Group. Thanks for reading.

[2021-07-21 07:27] kirwinia commented on #5
@j0lol which is why instead of doing that, or actually filing DMCA requests for the things they actually do hold copyright on (very damn little) ...

they instead stoop to threatening the safety and welfare of someone for the crime of... ensuring free software stays free and that people who built the content for the platform they bought and are now monetizing, don't get screwed with their pants on

[2021-07-21 07:52] SpheeresX commented on #130
Bullshit. If you really did spend a lot of time and money to prevent unauthorized use, you would secure your API to not be able to download data without authorization, not send death threats or block all userscripts.

Citing a comment from [Ars Technica's article](https://arstechnica.com/gadgets/2021/07/audacitys-new-owner-is-in-another-fight-with-the-open-source-community/):

---

I have no words

[2021-07-21 08:53] snailfart commented on #5
_"Nobody uploaded a picture of the police report to 4chan/KF featuring sensible details I'm legally not entitled to access anyway, so it didn't happen."_ You folks always trip over your own comforting affinity for conspiracy theories while trying to fake concern _(most recently towards @marcan after posting about Near/byuu's suicide in reponse to years of stalking, doxing & harassment. He didn't p

[2021-07-21 10:32] TZer0 commented on #130
Hey, Xmader, make sure to make a GoFundMe or something should something happen.

I'm sure plenty of people will lend you their support.

Honestly, the Audacity (heh) of these people....

[2021-07-21 11:17] Tails commented on #5
It's underway, check: https://parture.org. You could help out if you know some Rust/Elm/Substrate.

[2021-07-21 11:32] Tails commented on #5
It's [underway](https://parture.org). You could help out if you know some Rust/Elm/Substrate.

[2021-07-21 12:19] willfe commented on #5
Aaand dropped.

Keep grinding that axe though. Those sites live rent-free in your head, and it's delightful to see.

[2021-07-21 12:27] snailfart commented on #5
Also https://github.com/LibreScore/LibreScore _(which was already mentioned here, just reposting this for visibility since it's a fairly long thread)_.

[2021-07-21 12:35] snailfart commented on #5
Nothing to dispute my claim? Or do you genuinely believe you're entitled to see an uncensored police report?
An alternate phrase would be nice to hear at once, though.

Feel free to cope with your conspiracies in private without judgement, just expect being called out when you spread them in public.

[2021-07-21 13:18] sowa705 commented on #5
I am genuinely curious why do you think he got stabbed with zero evidence to support it. Anyone can claim anything on the internet but it doesnt mean its true.

[2021-07-21 16:16] filipporomani opened #131 "Unreadable file."
Hi,
Each time I download a score in the MSCZ format the Musescore software says that the file is not readable. Each time i must download files in pdf and then convert them to MSCZ, is there any kind of fix?
I'm using the latest version of the software and of the script. Any solution?

[2021-07-21 19:18] raynet commented on #130
Adding credential checking to the API (which should be there if it is not meant to be public) takes a day at most, so wouldn't call it lots of effort and money.

[2021-07-21 20:13] poikilos commented on #130
LOL, Streisand effect complete.

[2021-07-21 20:25] emptytriangle commented on #5
Daniel,

You are not respectfully asking for anything. You threatened legal action and threatened to sic the _Chinese Communist Party_ on the author of this software.

If you have legal basis to file a takedown then go ahead and do it. You don't, FYI.

Go fuck yourself

[2021-07-21 20:40] Tataarujin commented on #5
Hey Daniel.

Guess what.

Do rm -rf / with superuser rights on yourself.

Oh, and **_FUCK YOU_** 🖕

Best regards, all the good kind people.

[2021-07-21 21:54] SealsRock12 commented on #5
Not to undermine the argument, but just saying, `rm -rf /` will not work even with superuser privileges on a Linux system. You have to do `rm -rf /*` or `rm -rf --no-preserve-root /`

[2021-07-21 22:04] AntiSol commented on #5
@workedintheory You and your ilk are the scum of the earth. Go fuck yourself.

I'm going to laugh so hard when muse goes bankrupt and you're out of a job. Don't worry, it won't be long. Your team are doing a spectacular job at it. Personally, I hope you end up living on the streets blowing truck drivers for food scraps. It's what you deserve.

Should it be necessary, I pledge to put $5K towards Xm

[2021-07-21 22:25] briancullinan commented on #5
Great idea! I have started this fundraiser
https://www.gofundme.com/f/act-against-dmca?utm_source=customer&utm_medium=copy_link&utm_campaign=p_cf+share-flow-1

What makes this unique, and I will update the description as it develops,
this is a general fund, not funding 1 specific person like many of the
other fundraisers.

On Wed, Jul 21, 2021 at 3:04 PM Dale Magee ***@***.***> wrote:

--
"I studi

[2021-07-21 22:42] AntiSol commented on #5
That's not a bad idea at all, but I feel like maybe a nonspecific gofundme like this might not be the best approach. Personally, I was put off by the idea of donating to such a nebulous fund run by "just some guy" (no offense!). It *definitely* needs more than "TODO: add legal here" ;)

I think maybe a better option would be to have someone like the EFF run and publicise a fund that people can don

[2021-07-21 22:49] briancullinan commented on #5
@AntiSol Here's what I found https://www.eff.org/takedowns

I'm submitting the articles from this post.

[2021-07-21 22:50] AntiSol commented on #5
@briancullinan ooh cool.

I'm in the middle of emailling the EFF to see if they like the idea :)

[2021-07-21 22:56] briancullinan commented on #5
Awesome, in the meantime, I've updated the gofundme I started, but I would be happy to turn it into some kind of Holocracy. Maybe there is a way to integrate a Github repo with the content on GoFundMe, so anyone can submit changes to it. I believe there are protections for how the funds are used like @AntiSol mentioned. It is strange to give money to random strangers, but I am fed up with the rule

[2021-07-21 22:57] Xmader commented on #130
Thanks.

Rather than money, more importantly, I need good lawyers for copyright, immigration status / status of political refugee

[2021-07-21 23:09] AntiSol commented on #5
These are positive steps. Nice work. I agree that the first step in this case would be supporting @Xmader's residency/citizenship.

Yeah. That's another angle as to why I hesitated. I'd want full transparency for the funds. And maybe zero employees, run it all on a volunteer basis. I'd volunteer some time towards such a worthwhile project. Muse have clearly demonstrated that there's a need.

It's

[2021-07-22 06:28] 0x779 commented on #5
Didn't take very long to show your true colors.

[2021-07-22 06:58] SpheeresX commented on #5
@briancullinan @AntiSol See Xander's comment in another issue: https://github.com/Xmader/musescore-downloader/issues/130#issuecomment-884549957

[2021-07-22 07:05] AntiSol commented on #130
@Xmader It's not their area of expertise, but the EFF are a bunch of lawyers who do offer legal advice and assistance. It may be worth contacting them to see if there's anything they can do to help. It's probably unlikely that they'll be able to do much about immigration stuff but maybe they can connect you with somebody in that field. If I were you I'd send them an email :)

[2021-07-22 07:10] briancullinan commented on #5
Thanks, see my other comments, I've navigated immigration laws successfully
without the need for a lawyer.

On Wed, Jul 21, 2021, 23:58 SpheeresX ***@***.***> wrote:

[2021-07-22 10:37] snailfart commented on #5
I hope they will, for exposure to attract specialised lawyers and because the only way to donate through Gofundme is apparently via credit card.

[2021-07-22 13:43] snailfart commented on #5
That is correct, but the person I responded to made an **explicitely positive** claim, asserting that the _"mythical"_ stabbing did not happen, along with cattily insinuating that the person merely mentioning the case _(rather than issueing it as a threat)_ is insane (_"get help"_) simply for considering that possibility that the attack might have happened.
For which they, unless they can confirm

[2021-07-22 14:38] nccerhostmaster commented on #130
The EFF does take an interest in the chilling effects of extreme legal enforcement on rights, so if approached from that perspective they might have some advice.

[2021-07-22 17:36] willfe commented on #5
It's peculiar that you expect people to prove a negative rather than taking the trivial action that would remove all doubt: providing _any evidence whatsoever_ that this politically-convenient attack against a drama queen actually took place. Instead, you keep railing against a specific website. Clearly you've got an ax to grind, so you _want_ this absurd story to be true so you can better hate pe

[2021-07-22 20:57] CrunchThePerson commented on #5
Well, you can. I’ve done it before, but it’s extremely tedious and time-consuming. You can also just inspect element to get the individual sheets of music directly from the site. There’s probably something in the T&Cs about that not being allowed, but can they _really_ detect that and stop it?

[2021-07-22 21:52] TimothyFleo commented on #5
You could also just screenshot an image of the sheet music on the website, export it as a PDF, and use the PDF to MuseScore converter available that they provide. 😂😏
https://musescore.com/import

At that point though, that's a lot more manual effort for someone to go through so it's probably not too much of a concern for them lol.

[2021-07-22 21:55] SealsRock12 commented on #5
MuseScore's PDF importer isn't very accurate though.

[2021-07-23 00:33] Be-ing commented on #130
It's amazing how every time they say something, people get even more upset at them.

[2021-07-23 03:36] AntiSol commented on #5
Here's a thought:

Surely if the use violated the T&Cs then they would return a 4xx response to the request, right? There's a mechanism for them to advise us of this right there in the spec: 401 is "unauthorized", 403 is "forbidden", and there's also 451 "blocked for legal reasons". So if they give a 200, then it must be fine according to their T&Cs, right? Otherwise how is our software supposed t

[2021-07-23 04:34] #128 closed

[2021-07-23 04:35] Xmader commented on #128
already fixed

[2021-07-23 06:33] nanocat-net commented on #130
Perhaps the Digital Freedom Fund (DFF) https://digitalfreedomfund.org - can help you to find somebody. They work in Europe but they are well connected.

[2021-07-23 08:05] caughtquick commented on #130
It seems like MuseGroup is just digging a bigger whole to bury themselves in, the multiple audacity debacles, librescore threats and now this, it's insane.

[2021-07-23 08:05] caughtquick commented on #130
It seems like MuseGroup is just digging a bigger whole to bury themselves in, the multiple audacity debacles, librescore threats and now this, it's insane.

[2021-07-23 23:29] snailfart commented on #5
(My apologies, @Xmader and everyone trying to help him for derailing the topic into the cookiengineer vs 4chan issue.
Is there a way to continue this publicly without deflecting from the main topic?)

@willfe

A quick preview, since this got fairly long:

It's one thing to doubt cookiengineer's claim _(which I also do, I just don't exclude the fair chance that it could have happened, since offline

[2021-07-24 03:36] Remzi1993 commented on #130
Yeah, this must be some special kind of ability. Every time they open their mouths or write something down it's a shit show. I have never seen anything like that before, this company is going to be hated by a lot of people. Maybe one day they will be hated more than Comcast, EA and Activision if they keep continuing the stupid shit.

[2021-07-24 04:05] Nan0Scho1ar commented on #5
Unfortunate that the internet rage bandwagon appears to have arrived.

If the pay wall is truly a result of negotiations with music industry copyright holders then hopefully the recent attention inspires muse group to attempt a renegotiation of terms. One which more closely aligns with the terms allowing them to publicly host guitar tab arrangements on ultimateguitar (without a pay wall).

[2021-07-24 05:51] Xmader commented on #127
The extension itself supports Firefox Android.
However, [only selected recommended extensions can be installed directly from addons.mozilla.org (AMO)](https://blog.mozilla.org/addons/2021/01/20/extensions-in-firefox-for-android-update/).

[2021-07-24 14:49] RockyMM commented on #5
But here we don't have that case. We have a case of one sides says it rains. The other side says it does not. I will look through the window and speak with people that I share my opinion with. I don't care why the other side claims it rains. Maybe someone is spraying water on them. Maybe they have microlocal rains. No. I don't want to speak with them as they might *change my approach*. I have a ve

[2021-07-24 16:31] kirwinia commented on #130
If you're located in the US, @Xmader (we don't recall if you are or not, nor is it in our notes anywhere) then the ACLU would likely be interested in your problem here and may be in a position to offer you counsel. This kind of situation is along the lines of what they frequently assist with.

Best of luck in staying safe and continuing the good work!

[2021-07-24 20:42] IkeKap commented on #130
I don't think they really intervene directly in any copyright case. Their bread and butter is protecting free speech from government entities. The EFF would probably be a better resource imo

[2021-07-25 03:10] ghost opened #135 "suggestion"
can you add in a command-line interface,like msdl  URL -pdf,midi,mp3
thanks

[2021-07-25 06:29] patrickmollohan commented on #5
@workedintheory I think the actual question is do you really want to risk ending someone else's life so that corporate piggies can profit off of the "Pirates of the Caribbean" theme they didn't write or compose? And how well will you sleep at night?

[2021-07-25 06:40] gunchleoc commented on #5
tl;dr IANAL, but here's my unemotional take on the legal aspects.

@workedintheory If you look at these 2 statements or yours:

1. When it comes to copyrighted works, the way this is handled is not only not within our control, it also influences the licensing structures and mechanisms we are able to provide on the site as a whole. We understand very deeply the various forms of CC licensing beyond

[2021-07-25 06:51] j0lol commented on #5
@gunchleoc he uploaded literally the entire database of scores to the internet

[2021-07-25 06:57] Semisol commented on #5
dataset is illegal, yes, but the downloader imo is in a gray-ish area imo

[2021-07-25 18:14] briancullinan commented on #5
@Semisol the point of their terms of service is so that content creators give up their rights. If you want distribute your own material on your own publishing site under creative Commons, that's fine. But if you want to publish it with the visibility that MuseScore offers, you give up your rights and it falls under their available licensing. There also seems to be a dispute over charging a subscri

[2021-07-25 18:17] briancullinan commented on #5
@workedintheory oddly relevant:
"Overall, being a slave to metrics like revenue-per-day or per-user can drive short-term decisions that harm your players and the longevity of your product."

Source: https://partner.steamgames.com/doc/features/microtransactions

[2021-07-26 03:44] Derpford commented on #5
what an incredible fucking shitshow this is

frankly, I'm surprised this issue isn't closed and locked yet
the resolution *should* have been "MuseScore did not do the correct process and does not have legal rights to do what they're trying to do, GTFO or be countersued"

[2021-07-26 04:34] Xmader commented on #5
The idea of locking the conversation is kind of stupid, as a guy who was raised in a communist country.On Jul. 25, 2021 23:45, Derpford ***@***.***> wrote:
what an incredible fucking shitshow this is
frankly, I'm surprised this issue isn't closed and locked yet
the resolution should have been "MuseScore did not do the correct process and does not have legal rights to do what they're trying to do,